workshop-parts/n8n/Annabelle_Manuscript_Overhaul_Workflow_Final.json
{
  "name": "Manuscript Overhaul Workflow Final",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Manuscript Overhaul",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Link to Manuscript",
              "requiredField": true
            },
            {
              "fieldLabel": "Total # Chapters",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Google Drive Folder",
              "requiredField": true
            },
            {
              "fieldLabel": "Chapters Folder",
              "requiredField": true
            },
            {
              "fieldLabel": "System Persona",
              "requiredField": true
            },
            {
              "fieldLabel": "Writing Style Guide",
              "requiredField": true
            },
            {
              "fieldLabel": "Story & Character Dossier",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -680,
        -120
      ],
      "id": "c52ea477-949e-40d3-850c-35858b60d4b0",
      "name": "On form submission",
      "webhookId": "a86057f4-5d10-4e07-b382-1343cd836b13"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json['Link to Manuscript'] }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -460,
        -120
      ],
      "id": "641bd6d2-e545-4d16-86d4-bf0a7f60e8f7",
      "name": "Get Manuscript",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "q2IwC2gDgw6jnaFm",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('On form submission').item.json['System Persona'] }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -240,
        -120
      ],
      "id": "c7156a81-879c-4213-a3f7-57c5fc84b5f6",
      "name": "Get System Persona",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "q2IwC2gDgw6jnaFm",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('On form submission').item.json['Writing Style Guide'] }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -20,
        -120
      ],
      "id": "adb421d5-da6f-4749-8732-c765235a0efb",
      "name": "Get Writing Style Guide",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "q2IwC2gDgw6jnaFm",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('On form submission').item.json['Story & Character Dossier'] }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        200,
        -120
      ],
      "id": "9387751d-d356-4c83-828a-93f88a754b6f",
      "name": "Get Character & Story Dossier",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "q2IwC2gDgw6jnaFm",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "MOP Chapter Plans",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('On form submission').item.json['Google Drive Folder'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        880,
        -120
      ],
      "id": "f91d9216-e664-49b0-9d57-c86c0bf7bf50",
      "name": "Create MOP Chapter Plans",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rTicnuXYgWEO0T07",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "MOP Chapters",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('On form submission').item.json['Google Drive Folder'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        680,
        -120
      ],
      "id": "f5404776-24db-4290-bc89-933e8981d7cd",
      "name": "Create MOP Chapters Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rTicnuXYgWEO0T07",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-exp-03-25",
        "options": {
          "safetySettings": {
            "values": [
              {
                "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                "threshold": "BLOCK_NONE"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1940,
        780
      ],
      "id": "d38f59d0-a7b3-4667-aaa9-458c573fb68d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pJ3phA4DRVtUChb0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Manuscript Overhaul Plan').item.json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1620,
        -120
      ],
      "id": "11cdad2b-0742-4f47-85ba-6e7595168cde",
      "name": "Update MOP Plan",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "q2IwC2gDgw6jnaFm",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "={{ $('On form submission').item.json['Google Drive Folder'] }}",
        "title": "=MOP Plan"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1440,
        -120
      ],
      "id": "9299412e-2036-4503-b66e-51f09c902a8f",
      "name": "Create MOP Plan",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "q2IwC2gDgw6jnaFm",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Get System Persona').last().json.content }}\n\nHere is the information about this novel:\n\n{{ $('Get Character & Story Dossier').last().json.content }}\n\nHere is the Manuscript for this novel:\n\n{{ $('Get Manuscript').last().json.content }}\n\nRead this novel and using what you know about the genre (sweet romance) produce a Manuscript Overhaul Plan with specific details about any areas in this manuscript that need addressing. Your goal is to provide specific, meaningful feedback that will help elevate this to the level of an acquisitions editor at a top publishing company. Be specific about areas of improvement, including specific chapters, exchanges, etc.\n\nOnly provide feedback and suggestions that are relevant to strengthen the Manuscript, the characters, the central romance, and ensure maximum pleasure for readers. It's okay if there is not much feedback, that means the author did well!"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1100,
        -120
      ],
      "id": "1a859ff2-e883-40c3-8f83-19738d3d63fa",
      "name": "Manuscript Overhaul Plan"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Create MOP Manuscript').last().json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1900,
        -120
      ],
      "id": "f19aa0a8-a756-4262-9ce2-700c58242948",
      "name": "Get MOP Manuscript",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "q2IwC2gDgw6jnaFm",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This code analyzes the manuscript to determine the next chapter number\n\n// Safely get the manuscript text\nlet manuscriptText = \"\";\ntry {\n  // Access the input data safely\n  if ($input && $input.item && $input.item.json && $input.item.json.content) {\n    manuscriptText = $input.item.json.content;\n    console.log(\"Successfully got manuscript, length:\", manuscriptText.length);\n  } else {\n    console.log(\"Manuscript content not found in input\");\n  }\n} catch (error) {\n  console.log(\"Error accessing manuscript:\", error.message || \"Unknown error\");\n}\n\n// Look for chapter markers in the manuscript\nconst chapters = [];\ntry {\n  // Use regex to find both formats of chapter markers\n  const chapterPatterns = [\n    /\\[BEGIN CHAPTER (\\d+)\\]([\\s\\S]*?)\\[END CHAPTER \\1\\]/gi,\n    /\\[BEGIN MOP CHAPTER (\\d+)\\]([\\s\\S]*?)\\[END MOP CHAPTER \\1\\]/gi\n  ];\n  \n  for (const pattern of chapterPatterns) {\n    let match;\n    while ((match = pattern.exec(manuscriptText)) !== null) {\n      const chapterNum = parseInt(match[1]);\n      if (!chapters.some(ch => ch.number === chapterNum)) {\n        chapters.push({\n          number: chapterNum,\n          content: match[0]\n        });\n        console.log(`Found completed chapter ${chapterNum}`);\n      }\n    }\n  }\n} catch (error) {\n  console.log(\"Error extracting chapters:\", error.message || \"Unknown error\");\n}\n\n// Sort chapters by number\nchapters.sort((a, b) => a.number - b.number);\n\n// Safely get total chapters from form input\nlet totalChapters = 11; // Default value\ntry {\n  const formNode = $('On form submission');\n  if (formNode && formNode.item && formNode.item.json) {\n    const inputTotal = formNode.item.json['Total # Chapters'];\n    if (inputTotal) {\n      const parsed = parseInt(inputTotal);\n      if (!isNaN(parsed)) {\n        totalChapters = parsed;\n      }\n    }\n  }\n} catch (error) {\n  console.log(\"Error getting total chapters:\", error.message || \"Unknown error\");\n}\nconsole.log(`Total chapters target: ${totalChapters}`);\n\n// Determine next chapter to process and completion status\nconst nextChapterNumber = chapters.length > 0 ? \n  chapters[chapters.length - 1].number + 1 : 1;\nconst isComplete = nextChapterNumber > totalChapters;\nconst progressPercent = Math.round((chapters.length / totalChapters) * 100);\n\nconsole.log(`Next chapter to process: ${nextChapterNumber}`);\nconsole.log(`Is manuscript complete: ${isComplete} (${progressPercent}% done)`);\n\n// Build the target chapter name for searching\nconst targetChapterName = `Chapter ${nextChapterNumber} Draft`;\n\n// Extract the last 4 chapters for context\nconst recentChapters = chapters.slice(Math.max(0, chapters.length - 4));\nconsole.log(`Recent chapters (last ${recentChapters.length}): ${recentChapters.map(ch => ch.number).join(', ')}`);\n\n// Return results\nreturn {\n  json: {\n    nextChapterNumber: nextChapterNumber,\n    targetChapterName: targetChapterName,\n    isComplete: isComplete,\n    totalChapters: totalChapters,\n    completedCount: chapters.length,\n    progressPercent: progressPercent,\n    recentChapters: recentChapters,\n    isFirstChapter: chapters.length === 0,\n    lastChapterContent: recentChapters.length > 0 ? recentChapters[recentChapters.length - 1].content : \"\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2120,
        -120
      ],
      "id": "093f1040-611b-40ff-ae5e-5f49766be4b7",
      "name": "Determine Next Chapter"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "Chapter",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('On form submission').last().json['Chapters Folder'] }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2580,
        -120
      ],
      "id": "787d3d76-d3a8-47e5-b709-f63c57f109f0",
      "name": "Chapters Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rTicnuXYgWEO0T07",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46f930a3-21c1-4737-b894-228ce17b4b3a",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "ca851d79-82e5-427f-a559-e2028fb1292b",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2820,
        -120
      ],
      "id": "b9905aa6-d41a-4f74-8964-78f1004dfacc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const files = $(\"Edit Fields\")\n  .all()\n  .map((item) => item.json);\nconst targetChapterName = $(\"Determine Next Chapter\").all()[0]?.json\n  ?.targetChapterName;\n\nconst targetFile = files.find((file) => file.name === targetChapterName);\n\nreturn { targetFile };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2980,
        -120
      ],
      "id": "940e7b50-882a-4179-b6b3-3eee6b121dc2",
      "name": "Select Chapter File"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.targetFile.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        3160,
        -120
      ],
      "id": "f0342da9-6a96-433f-9d2d-aff3158b15f3",
      "name": "Get Chapter File",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "q2IwC2gDgw6jnaFm",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here are your instructions:\n\n[BEGIN SYSTEM PERSONA]\n\n{{ $('Get System Persona').last().json.content }}\n\n[END SYSTEM PERSONA]\n\nHere is the information for the story:\n\n[BEGIN STORY INFORMATION]\n\n{{ $('Get Character & Story Dossier').last().json.content }}\n\n[END STORY INFORMATION]\n\nRead the following Manuscript Overhaul Plan for this novel:\n\n[BEGIN MANUAL OVERHAUL PLAN]\n\n{{ $('Manuscript Overhaul Plan').last().json.text }}\n\n[END MANUAL OVERHAUL PLAN]\n\nHere is the most recently revised chapters in this novel:\n\n[BEGIN CURRENT MANUSCRIPT]\n{{ $('Format MOP Context').last().json.recentChaptersText }}\n[END CURRENT MANUSCRIPT]\n\n\nNow, based on this Manual Overhaul Plan, produce a detailed Editing Plan for the current chapter so that it incorporates the suggestions of the Overhaul Plan. It's okay if you don't need to do much editing. Just be specific on anything that needs addressing. Don't deviate from the plot or add any unnecessary extra information.\n\n[BEGIN CURRENT CHAPTER]\n\n{{ $json.content }}\n\n[END CURRENT CHAPTER]"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        3400,
        -120
      ],
      "id": "26c5e221-180c-4dfd-8e89-f852619fbf1c",
      "name": "Chapter MOP Plan"
    },
    {
      "parameters": {
        "folderId": "={{ $('Create MOP Chapter Plans').last().json.id }}",
        "title": "=Chapter {{ $('Determine Next Chapter').last().json.nextChapterNumber }} MOP Plan"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2320,
        240
      ],
      "id": "0a9ee431-b210-4a47-80ca-36f425cec1a1",
      "name": "MOP Chapter Plan",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "q2IwC2gDgw6jnaFm",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Chapter MOP Plan').item.json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2540,
        240
      ],
      "id": "6fc1e296-3698-4ef6-a8ff-fc5e9538fd0f",
      "name": "Update Chapter MOP Plan",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "q2IwC2gDgw6jnaFm",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[BEGIN SYSTEM PERSONA]\n\n{{ $('Get System Persona').last().json.content }}\n\n[END SYSTEM PERSONA]\n\n[BEGIN STORY INFORMATION]\n\n{{ $('Get Character & Story Dossier').last().json.content }}\n\n[END STORY INFORMATION]\n\n[BEGIN WRITING STYLE GUIDELINES]\n\n{{ $('Get Writing Style Guide').last().json.content }}\n\n[END WRITING STYLE GUIDELINES]\n\nHere is the revised manuscript so far:\n\n[BEGIN CURRENT MANUSCRIPT]\n{{ $('Format MOP Context').last().json.recentChaptersText }}\n[END CURRENT MANUSCRIPT]\n\nHere are the details for the current chapter:\n\n[BEGIN CHAPTER EDITING PLAN]\n\n{{ $('Chapter MOP Plan').item.json.text }}\n\n[END CHAPTER EDITING PLAN]\n\n[BEGIN CHAPTER DRAFT]\n\n{{ $('Get Chapter File').item.json.content }}\n\n[END CHAPTER DRAFT]\n\nRevise the current chapter according to the Plan. Only change what is needed to suit the plan. Do not add items not mentioned in the chapter. Keep all prose the same except where opportunities have been identified to edit or expand. Maintain the same tone and style per the Writing Style Guidelines. Use only nonstandard dialogue tags and avoid cliche endings.\n\nTarget Word Count: 2,000-2,500 words.\n\nPlease start your chapter with the tag [BEGIN CHAPTER X] and end with [END CHAPTER X]. Use this exact configuration and numbering that matches the appropriate current chapter number. Never address me, just provide the content as requested."
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        2760,
        240
      ],
      "id": "f8b462d0-cb06-47d6-bbbe-a44388ba8d48",
      "name": "Draft MOP Chapter"
    },
    {
      "parameters": {
        "folderId": "={{ $('Create MOP Chapters Folder').last().json.id }}",
        "title": "=Chapter {{ $('Determine Next Chapter').last().json.nextChapterNumber }} Draft"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        3120,
        240
      ],
      "id": "d49a44bd-98f0-4a95-b6e9-42facb7a1a52",
      "name": "MOP Chapter Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "q2IwC2gDgw6jnaFm",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Draft MOP Chapter').item.json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        3360,
        240
      ],
      "id": "58588aab-945c-4370-a957-ac231b100a10",
      "name": "Update MOP Chapter",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "q2IwC2gDgw6jnaFm",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Create MOP Manuscript').last().json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Draft MOP Chapter').item.json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        3580,
        240
      ],
      "id": "fd76b200-f329-489b-a1c3-e277d3382896",
      "name": "Update MOP Manuscript",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "q2IwC2gDgw6jnaFm",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get values from the Determine Next Chapter node's output\nlet nextChapterNumber, totalChapters;\n\ntry {\n  // Get the original next chapter number from the Determine Next Chapter node\n  const determineNode = $('Determine Next Chapter');\n  if (determineNode && determineNode.item && determineNode.item.json) {\n    // This is the chapter number we just processed\n    const currentChapterNumber = determineNode.item.json.nextChapterNumber;\n    totalChapters = determineNode.item.json.totalChapters;\n    \n    // Set nextChapterNumber to the next chapter (current + 1)\n    nextChapterNumber = currentChapterNumber + 1;\n    \n    console.log(`Current chapter processed: ${currentChapterNumber}`);\n    console.log(`Next chapter will be: ${nextChapterNumber}`);\n  } else {\n    console.log(\"Could not access Determine Next Chapter node data\");\n    // Default values if we can't access the node\n    nextChapterNumber = 2; // Assume we just processed chapter 1\n    totalChapters = 11;    // Default to 11 chapters\n  }\n} catch (error) {\n  console.log(\"Error accessing Determine Next Chapter data:\", error.message);\n  // Default values if there's an error\n  nextChapterNumber = 2;\n  totalChapters = 11;\n}\n\n// Alternative approach: try to get the chapter number from the Draft MOP Chapter content\ntry {\n  const draftNode = $('Draft MOP Chapter');\n  if (draftNode && draftNode.item && draftNode.item.json && draftNode.item.json.text) {\n    const draftText = draftNode.item.json.text;\n    \n    // Try to extract chapter number from BEGIN CHAPTER tag\n    const chapterMatch = draftText.match(/\\[BEGIN CHAPTER (\\d+)\\]/i);\n    if (chapterMatch && chapterMatch[1]) {\n      const chapterFromDraft = parseInt(chapterMatch[1]);\n      console.log(`Found chapter number ${chapterFromDraft} in Draft MOP Chapter content`);\n      \n      // Use this as a cross-check\n      if (chapterFromDraft + 1 !== nextChapterNumber) {\n        console.log(`WARNING: Chapter number mismatch - Draft says ${chapterFromDraft}, Determine Next Chapter implies next is ${nextChapterNumber}`);\n        // Trust the draft content over the determine node\n        nextChapterNumber = chapterFromDraft + 1;\n      }\n    }\n  }\n} catch (error) {\n  console.log(\"Error checking Draft MOP Chapter content:\", error.message);\n}\n\n// Calculate completion status and progress\nconst isComplete = nextChapterNumber > totalChapters;\nconst progressPercent = Math.round(((nextChapterNumber - 1) / totalChapters) * 100);\n\nconsole.log(`Next chapter will be: ${nextChapterNumber}`);\nconsole.log(`Total chapters: ${totalChapters}`);\nconsole.log(`Is complete: ${isComplete}`);\nconsole.log(`Progress: ${progressPercent}%`);\n\n// Return results\nreturn {\n  json: {\n    nextChapterNumber,\n    isComplete,\n    totalChapters,\n    progressPercent\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3840,
        240
      ],
      "id": "7838ef5b-fa0a-4413-945d-443c5efbdb14",
      "name": "Check Chapter Count"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a180da9a-99e9-4e07-8404-c9eee265a281",
              "leftValue": "={{ $json.isComplete }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4040,
        240
      ],
      "id": "6d02d747-166a-4031-8425-d7e53a297bab",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "fishnamedsushi@gmail.com",
        "subject": "Your Book is Done",
        "message": "Hey gorgeous,\n\nYour MOP Manuscript is done. Go check it out.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4300,
        220
      ],
      "id": "0baacdbe-0c85-4521-b0b1-90f7d544d5cc",
      "name": "Gmail",
      "webhookId": "968e27db-ecab-4c1c-a239-a4a08a57288d",
      "credentials": {
        "gmailOAuth2": {
          "id": "VgaLWRAZILB4Z9NT",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get data from the Determine Next Chapter node which already has the chapter information\nlet nextChapterNumber = 1;\nlet recentChapters = [];\nlet lastChapterContent = \"\";\n\ntry {\n  const determineNode = $('Determine Next Chapter');\n  if (determineNode && determineNode.item && determineNode.item.json) {\n    // Extract information directly from the Determine Next Chapter node\n    nextChapterNumber = determineNode.item.json.nextChapterNumber || 1;\n    console.log(`Next chapter from Determine Next Chapter: ${nextChapterNumber}`);\n    \n    // Get recent chapters if available\n    if (determineNode.item.json.recentChapters && Array.isArray(determineNode.item.json.recentChapters)) {\n      recentChapters = determineNode.item.json.recentChapters;\n      console.log(`Found ${recentChapters.length} recent chapters from Determine Next Chapter`);\n    }\n    \n    // Get last chapter content if available\n    if (determineNode.item.json.lastChapterContent) {\n      lastChapterContent = determineNode.item.json.lastChapterContent;\n      console.log(`Last chapter content length: ${lastChapterContent.length} chars`);\n    }\n  } else {\n    console.log(\"Could not access Determine Next Chapter node data\");\n  }\n} catch (error) {\n  console.log(\"Error accessing Determine Next Chapter data:\", error.message);\n}\n\n// Get manuscript content for debugging\nlet manuscriptText = \"\";\ntry {\n  if ($input && $input.item && $input.item.json && $input.item.json.content) {\n    manuscriptText = $input.item.json.content;\n    console.log(`Manuscript length: ${manuscriptText.length} chars`);\n    \n    // Debug: Check if manuscript contains chapter markers\n    if (manuscriptText.includes(\"[BEGIN CHAPTER\")) {\n      console.log(\"Manuscript contains [BEGIN CHAPTER markers\");\n    } else {\n      console.log(\"Manuscript does NOT contain [BEGIN CHAPTER markers\");\n    }\n  }\n} catch (error) {\n  console.log(\"Error accessing manuscript:\", error.message);\n}\n\n// Format recent chapters as context string\nlet recentChaptersText = \"\";\nif (recentChapters.length > 0) {\n  recentChaptersText = \"### Recent Chapters for Context:\\n\\n\";\n  recentChapters.forEach(chapter => {\n    recentChaptersText += `Chapter ${chapter.number}:\\n${chapter.content}\\n\\n`;\n  });\n  console.log(`Generated recent chapters text: ${recentChaptersText.length} chars`);\n} else {\n  // Always provide at least the last chapter content if we have it\n  if (lastChapterContent && lastChapterContent.length > 0) {\n    const chapterNumber = nextChapterNumber - 1;\n    recentChaptersText = `### Recent Chapters for Context:\\n\\nChapter ${chapterNumber}:\\n${lastChapterContent}\\n\\n`;\n    console.log(`Generated context from lastChapterContent: ${recentChaptersText.length} chars`);\n  } else {\n    recentChaptersText = \"### No Recent Chapters Available\\n\\n\";\n    console.log(\"No chapters available for context\");\n  }\n}\n\n// Create the dynamic context\nconst dynamicContext = recentChaptersText;\n\n// Return everything with more detailed information for debugging\nreturn {\n  json: {\n    nextChapterNumber,\n    isFirstChapter: recentChapters.length === 0 && !lastChapterContent,\n    recentChaptersText,\n    dynamicContext,\n    lastChapterContent,\n    recentChaptersCount: recentChapters.length,\n    totalChaptersFound: recentChapters.length,\n    debug: {\n      manuscriptLength: manuscriptText.length,\n      hasBeginChapterMarkers: manuscriptText.includes(\"[BEGIN CHAPTER\"),\n      determineNodeData: {\n        available: !!$('Determine Next Chapter')?.item?.json,\n        nextChapter: $('Determine Next Chapter')?.item?.json?.nextChapterNumber,\n        chaptersFound: !!$('Determine Next Chapter')?.item?.json?.recentChapters\n      }\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2340,
        -120
      ],
      "id": "28b1c77b-bdd8-43d5-952c-b40802f1ecdd",
      "name": "Format MOP Context"
    },
    {
      "parameters": {
        "folderId": "={{ $('On form submission').last().json['Google Drive Folder'] }}",
        "title": "MOP Manuscript"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        460,
        -120
      ],
      "id": "f85dc593-f961-4c76-8fc0-f6e4153a8dc7",
      "name": "Create MOP Manuscript",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "q2IwC2gDgw6jnaFm",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Get Manuscript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Manuscript": {
      "main": [
        [
          {
            "node": "Get System Persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get System Persona": {
      "main": [
        [
          {
            "node": "Get Writing Style Guide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Writing Style Guide": {
      "main": [
        [
          {
            "node": "Get Character & Story Dossier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Character & Story Dossier": {
      "main": [
        [
          {
            "node": "Create MOP Manuscript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create MOP Chapters Folder": {
      "main": [
        [
          {
            "node": "Create MOP Chapter Plans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create MOP Chapter Plans": {
      "main": [
        [
          {
            "node": "Manuscript Overhaul Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Manuscript Overhaul Plan",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chapter MOP Plan",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Draft MOP Chapter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update MOP Plan": {
      "main": [
        [
          {
            "node": "Get MOP Manuscript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create MOP Plan": {
      "main": [
        [
          {
            "node": "Update MOP Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manuscript Overhaul Plan": {
      "main": [
        [
          {
            "node": "Create MOP Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get MOP Manuscript": {
      "main": [
        [
          {
            "node": "Determine Next Chapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Next Chapter": {
      "main": [
        [
          {
            "node": "Format MOP Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chapters Folder": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Select Chapter File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Chapter File": {
      "main": [
        [
          {
            "node": "Get Chapter File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chapter File": {
      "main": [
        [
          {
            "node": "Chapter MOP Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chapter MOP Plan": {
      "main": [
        [
          {
            "node": "MOP Chapter Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MOP Chapter Plan": {
      "main": [
        [
          {
            "node": "Update Chapter MOP Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Chapter MOP Plan": {
      "main": [
        [
          {
            "node": "Draft MOP Chapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft MOP Chapter": {
      "main": [
        [
          {
            "node": "MOP Chapter Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MOP Chapter Doc": {
      "main": [
        [
          {
            "node": "Update MOP Chapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update MOP Chapter": {
      "main": [
        [
          {
            "node": "Update MOP Manuscript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update MOP Manuscript": {
      "main": [
        [
          {
            "node": "Check Chapter Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Chapter Count": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get MOP Manuscript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format MOP Context": {
      "main": [
        [
          {
            "node": "Chapters Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create MOP Manuscript": {
      "main": [
        [
          {
            "node": "Create MOP Chapters Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b298eed5-eb3a-4bfd-a358-866d215fccdb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9266f1d8f6d3ee6e5a610bf5b35a28c724aaf968a1aa1684a8249698254e7d16"
  },
  "id": "2ugAWEdlU5sI8PCJ",
  "tags": [
    {
      "createdAt": "2025-03-24T19:26:23.980Z",
      "updatedAt": "2025-03-24T19:26:23.980Z",
      "id": "NHqlJQoVpqO03uOB",
      "name": "full novel"
    },
    {
      "createdAt": "2025-03-24T19:26:33.581Z",
      "updatedAt": "2025-03-24T19:26:33.581Z",
      "id": "Xs5tRZLRz6yTjhIB",
      "name": "testing complete"
    }
  ]
}