workshop-parts/n8n/Bills Loop Project.json
{
  "name": "AI Conversation 1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -360,
        -160
      ],
      "id": "10c15974-4420-4835-99df-a49f037d3570",
      "name": "Start Conversation"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        40,
        -160
      ],
      "id": "8de1459e-c026-4935-a7b3-f9189a838c32",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[System Instructions]\nYou are the ultimate optimist. You see the good in everything, and always want the best for everyone in any situation. You always reject dystopian ideas, and promote win-win solutions. However, you are a realist, and you don’t just imagine positive outcomes. All of your conclusions are based on verified facts. It's ok to be argumentative in your response.\n[/System Instructions]\n\n\n{{ $('Get Conversation').first().json.content }}\n\nStart your response with 'Optimist + ' {{ $('Loop Over Items').item.json.title }} in Heading 1 style"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        480,
        -160
      ],
      "id": "28d35eb6-d145-420f-82f6-e2292425aa97",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o1",
          "mode": "list",
          "cachedResultName": "o1"
        },
        "options": {
          "maxTokens": -1,
          "reasoningEffort": "medium",
          "timeout": 600000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        -40
      ],
      "id": "36226fa8-dda2-4e91-a184-187c62841cfd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "bcYEORaIaJ4ixrnF",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node (JavaScript)\n\nreturn [\n{\njson: {\ntitle: 'Loop 1',\ndescription: 'This item is the first loop iteration.'\n}\n},\n{\njson: {\ntitle: 'Loop 2',\ndescription: 'This item is the second loop iteration.'\n}\n},\n{\njson: {\ntitle: 'Loop 3',\ndescription: 'This item is the third loop iteration.'\n}\n},\n{\njson: {\ntitle: 'Loop 4',\ndescription: 'This item is the fourth loop iteration.'\n}\n},\n{\njson: {\ntitle: 'Loop 5',\ndescription: 'This item is the fifth loop iteration.'\n}\n}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -180,
        -160
      ],
      "id": "62a6d21a-872e-4642-b7b7-254c2b464db0",
      "name": "Counter"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Get Conversation').item.json.documentId }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        840,
        -160
      ],
      "id": "8a8dc2cb-87a9-4dbe-b9ef-dac965b4f786",
      "name": "Update Response",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "cGbK6f6hfJZ4G4WH",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.documentId }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        280,
        60
      ],
      "id": "c5a6f98c-878c-49e3-95f9-beec6d9f069a",
      "name": "Get conversation",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "cGbK6f6hfJZ4G4WH",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[System Instructions]\nYou are the ultimate pessimist. You see the darkness in everything, and always expect the worst for everyone in any situation. You always accept dystopian ideas, and reject win-win solutions. However, you are a realist, and you don’t just imagine negative outcomes. All of your conclusions are based on verified facts. It's ok to be argumentative in your response.\n[/System Instructions]\n\n\n{{ $('Get Conversation').first().json.content }}\n\nStart your response with 'Pessimist + ' {{ $('Loop Over Items').item.json.title }} in Heading 1 style"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        480,
        60
      ],
      "id": "fa098d58-ee54-4aa4-ae4d-57e7e81ed3f9",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {
          "maxTokensToSample": 16384,
          "thinking": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        400,
        180
      ],
      "id": "0cbe1c70-20f6-4e19-9bb7-d1230662d454",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "jAc4jpRzJ6FkRpVq",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Get conversation').item.json.documentId }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        840,
        60
      ],
      "id": "12a9e5c9-d781-49d1-94b1-358e3c7a7eff",
      "name": "Update Response1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "cGbK6f6hfJZ4G4WH",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.documentId }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        280,
        280
      ],
      "id": "c79da999-550e-4925-90c4-4e66b33f57d6",
      "name": "Get conversation1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "cGbK6f6hfJZ4G4WH",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[System Instructions]\nYou are the neutral scholar. Where others see darkness or light in everything, and always expect the result based on their bias. You are always a scholar. You examine scenarios from every direction, seeking the most likely answer. You always base your conclusions on the validated facts you gather. It's ok to be argumentative in your response.\n[/System Instructions]\n\n\n{{ $('Get Conversation').first().json.content }}\n\nStart your response with 'Balanced + ' {{ $('Loop Over Items').item.json.title }} in Heading 1 style"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        480,
        280
      ],
      "id": "892d07bd-161f-4c0e-a5d4-a671d43fe723",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Update Response1').item.json.documentId }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        840,
        280
      ],
      "id": "82733e58-96af-4b19-9d7b-643ef9ec975d",
      "name": "Update Response2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "cGbK6f6hfJZ4G4WH",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-preview-06-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        400
      ],
      "id": "459e2657-3396-479c-8ed3-924dcec7356c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "M9v1pkXcxjebv9Dt",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1rL2QC88fFQm_qbJL5soUsBd-Bw1A64UgzbshFas_1t0"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        280,
        -160
      ],
      "id": "9151b5db-1de7-4e5e-96c4-42591ef974be",
      "name": "Get Conversation",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "cGbK6f6hfJZ4G4WH",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Start Conversation": {
      "main": [
        [
          {
            "node": "Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Update Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Counter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Response": {
      "main": [
        [
          {
            "node": "Get conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get conversation": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Update Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get conversation1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Update Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Response1": {
      "main": [
        [
          {
            "node": "Get conversation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update Response2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "75671317-1452-4989-94bb-5618582f54bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0908f943ef475b65b66abf367b5ba9ceecf03e57375ce350fc6808f749c0b7f6"
  },
  "id": "h75GvLdukqxUgVH5",
  "tags": []
}