workshop-parts/n8n/Christina_Book_Metadata_Agent_v2.json
{
  "name": "1. Book Metadata Agent v2",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "bookTitle"
            },
            {
              "name": "authorName"
            },
            {
              "name": "content"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1040,
        80
      ],
      "id": "108ce627-ca94-4b0d-b451-853a2fe1aa2a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        -300
      ],
      "id": "eb9c066a-260a-4b33-a7cc-bd14d0fc0d37",
      "name": "Gemini 2.0 Thinking",
      "credentials": {
        "googlePalmApi": {
          "id": "NLVYQzusncskwE9L",
          "name": "Google Gemini(PaLM) Api account 6"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1040,
        -100
      ],
      "id": "326ab661-6ac5-450b-8e67-47c443492397",
      "name": "When chat message received",
      "webhookId": "586ab0d7-6b3b-44a8-8215-a8c5a904dd24"
    },
    {
      "parameters": {
        "jsCode": "// Simply pass through the search query from the previous node\nconst result = {};\n\nif (items[0].json.searchQuery) {\n  result.searchQuery = items[0].json.searchQuery;\n} else {\n  result.searchQuery = \"No valid search query found\";\n}\n\nreturn {json: result};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        -20
      ],
      "id": "d66caecd-87e7-48f8-9c95-1557c1d96398",
      "name": "Get IDs"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4dc1f21e-652a-4429-8549-8ff7203720ed",
              "name": "bookTitle",
              "value": "={{ $('Code').item.json.title }}",
              "type": "string"
            },
            {
              "id": "a77aa207-0120-4db0-9c3a-d1c97009d884",
              "name": "authorName",
              "value": "={{ $('Code').item.json.author }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        -20
      ],
      "id": "da1fdc29-2da8-45f3-b7cc-3e52de4b09d5",
      "name": "Set IDs"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "https://drive.google.com/drive/u/1/folders/1mL_NFeCfY4ru-fHoss3i6_St6KLgVnz4",
            "mode": "url"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -800,
        180
      ],
      "id": "0d4b846e-3f9f-4df0-9086-8646f655002c",
      "name": "Access Book Database",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JEJSVcyrivvBmlge",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $node[\"Access Book Database\"].json[\"id\"] }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -640,
        180
      ],
      "id": "a1078293-bf33-41c2-a540-7ed3f399af0e",
      "name": "Get Book File",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Vixr1uQWILjkvc9i",
          "name": "Google Docs account 4"
        }
      }
    },
    {
      "parameters": {
        "text": "=You are a publishing assistant helping prepare book metadata for marketing and production use.\n\n<<<BOOK_START>>>\n{{ String($json.content) }}\n<<<BOOK_END>>>\n\nNow, use these known values:\n- Book Title: {{ $('Code').item.json.title }}\n- Author Name: {{ $('Code').item.json.author }}\n- Estimated Word Count: {{ $('Word Count').item.json.estimatedWordCount }}\n\nDo not modify the book title or author. Use the word count exactly as given.\n\n---\n\n📋 Your task:  \nRead the full manuscript and return the marketing metadata in the following **structured, markdown-formatted text block**. Do **not** return JSON or code blocks. Just use clean markdown formatting.\n\n---\n\nFormat Template (fill in below the headings):\n\nTitle: {{ $('Code').item.json.title }}\nSubtitle: [Write a relevant short subtitle using the tropes and genre. Leave blank if not obvious.]\nSeries Name & Number: [e.g., True Platinum, Book 2 — or leave blank if none]\n\nStandalone or Series Hook: [Does it stand alone, or are there crossover/series hooks?]\n\nRelease Date:\n\nWord Count: {{ $('Word Count').item.json.estimatedWordCount }}\n\nSpice Level: 🌶️🌶️🌶️ (Describe intensity + content tags: e.g., “Fade to black” or “Multiple detailed scenes with kink”)\n\nTropes:\n[List 5–7 relevant romance tropes, one per line]\n\nUniversal Fantasies:\n[List 3–5 common reader fantasies explored in this book]\n\nREADER POSITIONING\nCore Reader Fantasy: [One sentence capturing the heart of the reader fantasy]\n\nEmotional Vibe: [3–6 words about the emotional tone: e.g., “angsty, funny, tender, hot”]\n\nReader Promises: [One sentence summarising emotional/narrative payoff]\n\nTop 5 Keywords for SEO: [Short phrases, lowercase, comma-separated]\n\nTop 5 Hashtags: [Hashtag format, camelCase or lowercase with no punctuation]\n\n---\n\nAmazon Keywords\n[List 7–10 short Amazon-style search phrases, 2–5 words each, that would help readers find this book — especially via tropes, fantasies, subgenre, or emotional hook.]\n\n---\n\n### 🧾 Example Output (for reference only — do not copy)\n\n**Title:** Married Blind\n**Subtitle:** A Marriage of Convenience Hollywood Romance  \n**Series Name & Number:** *Kings of Screen*, Book 2 (can be read as a standalone)  \n\n**Standalone or Series Hook:** Standalone with series Easter eggs and crossover characters (Finn is friends with Shaun from *Between Takes*)  \n\n**Release Date:**  \n\n**Word Count:** 85,000  \n\n**Spice Level:** 🌶️🌶️🌶️🌶️ (Explicit scenes. Rope, control, mutual kink exploration. Emotional and physical intimacy.)  \n\n---\n\n### **Tropes:**\n- Marriage of Convenience  \n- Reality TV Romance  \n- Celebrity x Civilian  \n- Grumpy x Sunshine  \n- Forced Proximity  \n\n### **Universal Fantasies:**\n- The regular girl wins the heart of a celebrity  \n- Strangers-to-lovers with instant chemistry  \n- Someone saving them from their problems  \n\n---\n\n## READER POSITIONING\n\n- **Core Reader Fantasy:** A broke but brilliant woman accidentally marries a Hollywood star on reality TV and ends up with both love and security.  \n- **Emotional Vibe:** Sexy, slow-burn with laugh-out-loud banter, reality-TV chaos, and emotional softness underneath the snark.  \n- **Reader Promises:** You’ll get spice, sass, and surprising softness. There’s real healing under the heat, found family, and a man who goes from “it’s just a role” to “I’ll never let you go.”  \n- **Top 5 Keywords for SEO:** celebrity romance, fake marriage, reality TV love story, steamy grumpy sunshine romance, opposites attract romance  \n- **Top 5 Hashtags:** #MarriageOfConvenience #CelebrityRomance #GrumpySunshine #RomanceReaders #FakeMarriageRealFeels  \n\n---\n\n## **Amazon Keywords**\n1. wealthy hollywood celebrity romance novel  \n2. slow burn enemies to lovers steamy romance  \n3. reality television dating show romance  \n4. arranged marriage of convenience  \n5. close proximity fake wedding enemies-to-lovers  \n6. famous actor normal strong female lead  \n7. British movie star actor down on his luck  \n",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"formattedMarkdown\": { \"type\": \"string\" },\n    \"bookTitle\": { \"type\": \"string\" },\n    \"subtitle\": {\n  \"type\": \"string\"\n},\n    \"seriesInfo\": { \"type\": \"string\" },\n    \"standaloneSeries\": { \"type\": \"string\" },\n    \"wordCount\": { \"type\": \"number\" },\n    \"spiceLevel\": { \"type\": \"number\" },\n    \"tropes\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"universalFantasies\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"emotionalVibe\": { \"type\": \"string\" },\n    \"readerPromises\": { \"type\": \"string\" },\n    \"coreReaderFantasy\": { \"type\": \"string\" },\n    \"seoKeywords\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"hashtags\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"amazonKeywords\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    }\n  },\n  \"required\": [\n    \"formattedMarkdown\",\n    \"bookTitle\",\n    \"seriesInfo\",\n    \"standaloneSeries\",\n    \"wordCount\",\n    \"spiceLevel\",\n    \"tropes\",\n    \"universalFantasies\",\n    \"emotionalVibe\",\n    \"readerPromises\",\n    \"coreReaderFantasy\",\n    \"seoKeywords\",\n    \"hashtags\",\n    \"amazonKeywords\"\n  ]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        -820,
        380
      ],
      "id": "067f34e7-5218-48b6-a2c7-defb0512e466",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "jsCode": "// The message is in item.chatInput based on your debug output\nconst item = items[0].json;\nlet message = '';\n\n// Specifically check for chatInput field first\nif (item.chatInput) {\n  message = item.chatInput;\n} else if (item.messageText) {\n  message = item.messageText;\n} else if (item.text) {\n  message = item.text;\n} else if (item.message) {\n  message = item.message;\n} else if (item.content) {\n  message = item.content;\n} else {\n  message = '';\n}\n\nconst bookInfo = {};\n\n// Only proceed with parsing if we have a message\nif (message && typeof message === 'string') {\n  if (message.toLowerCase().includes(\" by \")) {\n    const parts = message.toLowerCase().split(\" by \");\n    // Remove question marks, periods, and other ending punctuation\n    bookInfo.title = parts[0].replace(/can i get information about|info on|details for/gi, \"\").trim();\n    bookInfo.author = parts[1].replace(/\\?|\\.|\\!|\\,$/, \"\").trim();\n    \n    // Format for Google Drive - clean up any unwanted punctuation\n    bookInfo.searchQuery = `${bookInfo.title} - ${bookInfo.author}`;\n  } else if (message.includes(\" - \")) {\n    // Handle already formatted as \"Title - Author\"\n    const parts = message.split(\" - \");\n    bookInfo.title = parts[0].trim();\n    bookInfo.author = parts[1].replace(/\\?|\\.|\\!|\\,$/, \"\").trim();\n    bookInfo.searchQuery = `${bookInfo.title} - ${bookInfo.author}`;\n  } else {\n    // Treat the whole message as a search term\n    bookInfo.searchTerm = message;\n    bookInfo.searchQuery = message.replace(/\\?|\\.|\\!|\\,$/, \"\").trim();\n  }\n} else {\n  bookInfo.searchTerm = \"No valid message found\";\n  bookInfo.searchQuery = \"No valid message found\";\n}\n\nreturn {json: bookInfo};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        -20
      ],
      "id": "53b45c07-eb6d-4710-b90c-d982f224a6ed",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name = '{{ $(\"Code\").item.json.author }}' and mimeType = 'application/vnd.google-apps.folder'",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -220,
        -20
      ],
      "id": "6de5ada8-f941-49b9-8cd0-14fd0fdf4ecd",
      "name": "Access Author Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JEJSVcyrivvBmlge",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Search for Marketing Doc').item.json.id }}\n"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -220,
        180
      ],
      "id": "6f7be02b-cd3a-4e60-9f0d-fad889c14f9c",
      "name": "Get Marketing Bible",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Vixr1uQWILjkvc9i",
          "name": "Google Docs account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const content = $json.content || \"\";\nconst characterCount = content.length;\nconst wordCount = Math.floor(characterCount / 5); // Average word length assumption\n\nreturn [{\n  json: {\n    ...$json,\n    characterCount,\n    estimatedWordCount: wordCount\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        180
      ],
      "id": "1a16ce7a-98d9-4269-863b-4248983ad338",
      "name": "Word Count"
    },
    {
      "parameters": {
        "jsCode": "const metadata   = $json.output || $json;\nconst safeCount  = metadata.wordCount     || 0;\nconst spiceLevel = metadata.spiceLevel    || 0;\n// ← NEW: grab subtitle, defaulting to blank\nconst subtitle   = metadata.subtitle      || '';\n\nconst formatList         = arr => arr?.map(i => `• ${i}`).join('\\n')      || '';\nconst formatInlineList   = arr => arr?.join(', ')                         || '';\nconst formatNumberedList = arr => arr?.map((i, idx) => `${idx+1}. ${i}`).join('\\n') || '';\n\nconst formatted = `\nTITLE: ${metadata.bookTitle}\nSUBTITLE: ${subtitle}\nSERIES NAME & NUMBER: ${metadata.seriesInfo}\n\nSTANDALONE OR SERIES HOOK: ${metadata.standaloneSeries}\n\nRELEASE DATE: \n\nWORD COUNT: ${safeCount.toLocaleString()}\n\nSPICE LEVEL: ${'🌶️'.repeat(spiceLevel)} (Level ${spiceLevel})\n\nTROPES:\n${formatList(metadata.tropes)}\n\nUNIVERSAL FANTASIES:\n${formatList(metadata.universalFantasies)}\n\nREADER POSITIONING:\n\n• Core Reader Fantasy: ${metadata.coreReaderFantasy}\n• Emotional Vibe: ${metadata.emotionalVibe}\n• Reader Promises: ${metadata.readerPromises}\n• SEO Keywords: ${formatInlineList(metadata.seoKeywords)}\n• Hashtags: ${formatInlineList(metadata.hashtags)}\n\nAMAZON KEYWORDS:\n${formatNumberedList(metadata.amazonKeywords)}\n`;\n\nreturn [{\n  json: {\n    ...metadata,\n    // ← NEW: ensure subtitle is passed through\n    subtitle,\n    formattedText: formatted.trim()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        380
      ],
      "id": "dd7144fb-4500-40a4-ae35-32783d8dedca",
      "name": "JSON Translator"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name = 'Marketing Bible - {{ $(\"Information Extractor\").item.json.output.bookTitle }}' and mimeType = 'application/vnd.google-apps.document'",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        -20
      ],
      "id": "a87b7ece-74f1-4ae1-9731-aef11a6b14a6",
      "name": "Search for Marketing Doc",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JEJSVcyrivvBmlge",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Search for Marketing Doc').item.json.id }}\n",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=Title: {{ $(\"JSON Translator\").item.json.bookTitle }}\n\nSubtitle: {{ $('JSON Translator').item.json.subtitle }}\n\nSeries Name & Number: {{ $(\"JSON Translator\").item.json.seriesInfo }}\n\nStandalone or Series Hook: {{ $(\"JSON Translator\").item.json.standaloneSeries }}\n\nRelease Date:  \n\nWord Count: {{ $(\"JSON Translator\").item.json.wordCount.toLocaleString() }}\n\nSpice Level: {{ '🌶️'.repeat($(\"JSON Translator\").item.json.spiceLevel) }} (Level {{ $(\"JSON Translator\").item.json.spiceLevel }})\n\nTropes:\n{{ $(\"JSON Translator\").item.json.tropes.map(t => \"• \" + t).join(\"\\n\") }}\n\nUniversal Fantasies:\n{{ $(\"JSON Translator\").item.json.universalFantasies.map(f => \"• \" + f).join(\"\\n\") }}\n\nREADER POSITIONING\n\nCore Reader Fantasy:\n{{ $(\"JSON Translator\").item.json.coreReaderFantasy }}\n\nEmotional Vibe:\n{{ $(\"JSON Translator\").item.json.emotionalVibe }}\n\nReader Promises:\n{{ $(\"JSON Translator\").item.json.readerPromises }}\n\nTop 5 Keywords for SEO:\n{{ $(\"JSON Translator\").item.json.seoKeywords.join(\", \") }}\n\nTop 5 Hashtags:\n{{ $(\"JSON Translator\").item.json.hashtags.join(\", \") }}\n\nAmazon Keywords:\n{{ $(\"JSON Translator\").item.json.amazonKeywords.map((k, i) => `${i + 1}. ${k}`).join(\"\\n\") }}\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        0,
        180
      ],
      "id": "1f8bccaa-0348-4f52-a0e2-8cc89fdc6003",
      "name": "Update Marketing Bible",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Vixr1uQWILjkvc9i",
          "name": "Google Docs account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6ce59abe-6dc1-43a3-b3b0-79dedafe741f",
              "leftValue": "={{ $('JSON Translator').item.json.bookTitle }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "153438be-e34c-4c79-af40-2b64c7accd40",
              "leftValue": "={{ $('JSON Translator').item.json.readerPromises }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        400
      ],
      "id": "389a4b85-5840-4b50-986b-cb1ebea6e156",
      "name": "If"
    },
    {
      "parameters": {
        "content": "Gathering Metadata\n(Title, Series Name & Number, Standalone or Series Hook, Release Date, Word Count, Spice Level, Tropes, Universal Fantasies. READER POSITIONING: Core Reader Fantasy, Emotional Vibe, Reader Promises, Top 5 Keywords for SEO, Top 5 Hashtags, Amazon Keywords)",
        "height": 800,
        "width": 600
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -880,
        -180
      ],
      "id": "7251cff2-d6d2-49ca-b688-4359ea56b10e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Message must ONLY contain Title BY Author",
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1180,
        -160
      ],
      "id": "7029e809-4c10-438f-95fb-343b0717fbd0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "This will be called by the marketing bible agent. ",
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1260,
        60
      ],
      "id": "9846ac6e-575f-4739-a259-931b794c3430",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14d9076e-27ea-4846-8b44-f83cf4022b9e",
              "name": "response",
              "value": "=The following metadata has been added to the Google Doc: {{ $('JSON Translator').item.json.formattedText }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        400
      ],
      "id": "6459d4c1-dedd-45c8-9edd-d344e3462811",
      "name": "Response"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.0 Thinking": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get IDs": {
      "main": [
        [
          {
            "node": "Set IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set IDs": {
      "main": [
        [
          {
            "node": "Access Book Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Access Book Database": {
      "main": [
        [
          {
            "node": "Get Book File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book File": {
      "main": [
        [
          {
            "node": "Word Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Get IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "JSON Translator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Access Author Folder": {
      "main": [
        [
          {
            "node": "Search for Marketing Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Marketing Bible": {
      "main": [
        [
          {
            "node": "Update Marketing Bible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Word Count": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Translator": {
      "main": [
        [
          {
            "node": "Access Author Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for Marketing Doc": {
      "main": [
        [
          {
            "node": "Get Marketing Bible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Marketing Bible": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c045e642-6494-432a-8ffd-5d4bf08a2194",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3b2afdcf1dab99230c28b13720a9c78ed49f023297158a579772e42d2c8fddd"
  },
  "id": "m6WF7czNIAvzAhg7",
  "tags": []
}