workshop-parts/n8n/EPBM_2_write_chapter_1.json
{
  "name": "EPBM #2 write chapter 1",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json['Story Dossier Link'] }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -140,
        -80
      ],
      "id": "29cede27-0dde-4dbc-ad4b-ca84c1575192",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "QWyJkyi92PCxSeE8",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Read the following story information:\n\n{{ $json.content }}\n\nNow make a plan to write Chapter 1"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        80,
        -80
      ],
      "id": "0ee1625d-0a45-4b76-999d-5be89ea92723",
      "name": "Plan Chapter 1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        -240,
        160
      ],
      "id": "577e6042-29de-4940-8c7f-b2b6307c492e",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "Kso4r37FNcBwblpQ",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Read the following story information:\n\n{{ $('Google Docs').item.json.content }}\n\nHere is the plan for writing Chapter 1\n{{ $('Plan Chapter 1').item.json.text }}\n\n\nNow write Chapter 1 so it reads like a bestselling cozy mystery novel."
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        240,
        80
      ],
      "id": "3288a07b-412a-4071-bcf5-1e60c80279ea",
      "name": "Draft Chapter 1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Read the following story information:\n\n{{ $('Google Docs').item.json.content }}\n\nHere is the plan for writing Chapter 1\n{{ $('Plan Chapter 1').item.json.text }}\n\nHere is the draft of Chapter 1\n{{ $('Draft Chapter 1').item.json.text }}\n\nNow make an editing plan to make Chapter 1 better writing."
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        320,
        220
      ],
      "id": "65a1dab7-a87a-4341-a772-58dd6ebc96b9",
      "name": "Edit Chapter 1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Read the following story information:\n\n{{ $('Google Docs').item.json.content }}\n\nHere is the plan for writing Chapter 1\n{{ $('Plan Chapter 1').item.json.text }}\n\nHere is the draft for writing Chapter 1\n{{ $('Draft Chapter 1').item.json.text }}\n\nHere is the editing plan for writing Chapter 1\n{{ $('Edit Chapter 1').item.json.text }}\n\nNow write the final version of Chapter 1 so it works as a final draft. Only write fiction, never address me or write extra comments about the task. Only write Chapter 1 final draft.\n"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        340,
        380
      ],
      "id": "bbb3d953-7cb9-45e2-bbc9-b258e522de82",
      "name": "Chapter 1 Final"
    },
    {
      "parameters": {
        "folderId": "={{ $('On form submission').item.json['Folder ID'] }}",
        "title": "Manuscript"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        700,
        380
      ],
      "id": "6a4b6fff-21b0-4eba-9e67-87fa7459c859",
      "name": "Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "QWyJkyi92PCxSeE8",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Chapter 1 Final').item.json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        920,
        380
      ],
      "id": "139640e1-89bc-41f5-9d71-932069d475cf",
      "name": "Google Docs2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "QWyJkyi92PCxSeE8",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Where in the Google?",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Folder ID",
              "requiredField": true
            },
            {
              "fieldLabel": "Story Dossier Link"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -340,
        -80
      ],
      "id": "a9a2de02-8437-460b-85ba-6c28bf86b97d",
      "name": "On form submission",
      "webhookId": "b359a1e8-54fe-4e0b-9e3d-3d492113ae8c"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Docs": {
      "main": [
        [
          {
            "node": "Plan Chapter 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Plan Chapter 1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Draft Chapter 1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Edit Chapter 1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Chapter 1 Final",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Plan Chapter 1": {
      "main": [
        [
          {
            "node": "Draft Chapter 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Chapter 1": {
      "main": [
        [
          {
            "node": "Edit Chapter 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Chapter 1": {
      "main": [
        [
          {
            "node": "Chapter 1 Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chapter 1 Final": {
      "main": [
        [
          {
            "node": "Google Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs1": {
      "main": [
        [
          {
            "node": "Google Docs2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5b5544ca-6d83-49d7-bd1b-2db5785f6c71",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3b2afdcf1dab99230c28b13720a9c78ed49f023297158a579772e42d2c8fddd"
  },
  "id": "BrS22ZozHC0r94xV",
  "tags": []
}