workshop-parts/n8n/Mel - 2___Book_Development (1).json
{
  "name": "2 - Book Development",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1520,
        1360
      ],
      "id": "bdb37f83-c66d-4dca-bfa8-13b17d1d123c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "MQOy0ksjlWiPJNyJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[BEGIN SYSTEM]\n{{ $('Get System Instructions').last().json.content }}\n[END SYSTEM]\n\n[BEGIN CHARACTER NAME DATABASE]\n{{ $('Load Character Names DB').last().json.content }}\n[END CHARACTER NAME DATABASE]\n\n{{ $('Get Series Data').item.json.content }}\n{{ $('Get Series Dossier').item.json.content }}\n{{ $('Get Series Premises').item.json.content }}\n\n[BEGIN INSTRUCTIONS]\nSelect a first name and a last name for each new character in the story from the database provided.\n\nNo incest or incest-adjacent romantic relationships, please! This includes distant cousins!\n\nBased on the PREMISE for BOOK {{ $('On form submission').last().json['Book Number in Series'] }}, please generate 5 different directions we might take this premise that each have a clear beginning, middle, and end. Each plot direction should be based on the initial premise's starting conditions.\n[END INSTRUCTIONS]"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1020,
        100
      ],
      "id": "3bdaa3cd-95a6-4a64-bfa0-7764ed5667e8",
      "name": "Generate Plots"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[BEGIN SYSTEM]\n{{ $('Get System Instructions').item.json.content }}\n[END SYSTEM]\n\n{{ $('Get Series Data').item.json.content }}\n{{ $('Get Story Data').item.json.content }}\n\n[BEGIN SUGGESTED SUBPLOTS]\n{{ $('Generate and Evaluate Supblots').item.json.text }}\n[END SUGGESTED SUBPLOTS]\n\n[BEGIN INSTRUCTIONS]\nIncorporate the [SELECTED SUBPLOTS] into the [SELECTED PLOT]. \nState the Final Plot with the tag [BEGIN FINAL PLOT] before, and the tag [END FINAL PLOT] after.\n[END INSTRUCTIONS]\n\n{{ $('Select Plot').item.json.text }}\n\n{{ $json.text }}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1460,
        520
      ],
      "id": "001e7303-52f3-48ed-8d59-e3c035dcbc1c",
      "name": "Final Plot"
    },
    {
      "parameters": {
        "content": "## Plot Selection\n\n",
        "height": 900,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        980,
        0
      ],
      "typeVersion": 1,
      "id": "33097339-0a65-4898-b300-36966b12fb1a",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Subplot Selection\n\n\n",
        "height": 380,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1420,
        0
      ],
      "typeVersion": 1,
      "id": "93dd0e78-e812-456b-bdc0-2c41df3283bb",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## The Final Plot\n\n\n",
        "height": 580,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1420,
        420
      ],
      "typeVersion": 1,
      "id": "d96e471a-49b9-4f1d-80cd-32c1fb577f3e",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-pro-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2060,
        1760
      ],
      "id": "aa5f07a1-cfe1-4517-ac67-de2af84c7d05",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "0XJKUeeULEEpGDrC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Update Scrap1').item.json.documentId }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Generate and Evaluate Supblots').item.json.text }}\n{{ $('Selected Supblots').item.json.text }}\n{{ $json.text }}\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1620,
        680
      ],
      "id": "c33aa72a-0ba7-498b-84a0-b6251dac4f4f",
      "name": "Update Scrap2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Create Scrap Pile').item.json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Generate Plots').item.json.text }}\n\n{{ $('Evaluate Plots').item.json.text }}\n\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1180,
        580
      ],
      "id": "50c7fc2f-1283-4812-8749-b325d852db3e",
      "name": "Update Scrap1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[BEGIN SYSTEM]\n{{ $('Get System Instructions').last().json.content }}\n[END SYSTEM]\n\n{{ $('Get Series Data').item.json.content }}\n{{ $('Get Series Dossier').item.json.content }}\n\n[BEGIN GENRE ANALYSES]\n{{ $('Get Analyses').item.json.content }}\n[END GENRE ANALYSES]\n\n[BEGIN SUGGESTED PLOTS]\n{{ $json.text }}\n[END SUGGESTED PLOTS]\n\n[BEGIN INSTRUCTIONS]\nEvaluate the suggested plot outlines against the following criteria: \nAlignment with Market Trends: Does the plot reflect popular subgenres, tropes, and themes observed in the [analysis]?\nEmotional Conflict and Stakes: Does the plot create strong, believable emotional conflict and escalate stakes effectively?\nCharacter Chemistry: Do the protagonists have distinct, complementary personalities that generate sparks and tension?\nPlot Pacing and Structure: Does the plot hit key storytelling beats (e.g., inciting incident, turning points, climax, resolution) and maintain tension throughout?\nUnique Twist or Hook: Does the plot include a unique or fresh element that sets it apart from similar stories?\nRomantic Payoff and HEA/HFN Satisfaction (if applicable): Does the ending feel earned and emotionally fulfilling, delivering on the expectations of the genre?\nMarketability: Does the plot have an easily pitchable, high_concept element that makes it appealing to fans of the genre?\n\nAssign a score between 1 and 10 for each criterion. \n1-3: Weak or poorly executed.\n4-7: Average or functional, but not outstanding.\n8-10: Excellent, compelling, and well-aligned with reader expectations.\n\nProvide reasoning for each score. Be concise but specific. Explain why the score was assigned and identify strengths or weaknesses in the plot for that criterion.\n\nCalculate the total score. Add up the individual scores for each criterion to produce a final total out of 70.\n\nSummarize your findings. Highlight the plot's strengths, weaknesses, and overall potential for success.\n\nHighlight the highest scoring suggested plot outline with a brief explanation of the market potential.\n\nBased on the scores and evaluations, which plot stands out the most?\nExplain why this plot is the best choice and suggest any final improvements.\n[END INSTRUCTIONS]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1020,
        260
      ],
      "id": "7fe71d53-ec21-4d7a-b820-6166154a50b2",
      "name": "Evaluate Plots"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[BEGIN SYSTEM]\n{{ $('Get System Instructions').item.json.content }}\n[END SYSTEM]\n\n{{ $json.content }}\n\n[BEGIN INSTRUCTIONS]\n\nBased on the [SELECTED PLOT], please create a list of 10 subplot options that would enrich the [SELECTED PLOT]. \n\nNo incest or incest-adjacent romantic relationships, please! This includes distant cousins!\n\nEvaluate each subplot based on: \nThematic Relevance\nCharacter Development\nPlot Enhancement and Balance\nNarrative Economy\nResolution and Payoff\n\nAssign a score from 1 to 10 for each criterion.\n\nSummarize your findings. Highlight the top 3 subplots' strengths, weaknesses, and overall potential for success in this story.\n[END INSTRUCTIONS]"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1460,
        80
      ],
      "id": "529ea631-32a2-4c2d-9eb6-3295bd6eff89",
      "name": "Generate and Evaluate Supblots"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[BEGIN SYSTEM]\n{{ $('Get System Instructions').item.json.content }}\n[END SYSTEM]\n\n{{ $('Get Series Data').item.json.content }}\n{{ $('Get Story Data').item.json.content }}\n\n[SUGGESTED SUBPLOTS AND EVALUATION]\n{{ $json.text }}\n[SUGGESTED SUBPLOTS AND EVALUATION]\n\n[BEGIN INSTRUCTIONS]\nFinally, state the selected subplots with the tag [BEGIN SELECTED SUBPLOTS] before, and the tag [END SELECTED SUBPLOTS] after.\n[END INSTRUCTIONS]"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1460,
        240
      ],
      "id": "c64ca8af-8683-45bf-85c6-e5dea12a5777",
      "name": "Selected Supblots"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[BEGIN SYSTEM]\n{{ $('Get System Instructions').item.json.content }}\n[END SYSTEM]\n\n{{ $('Get Series Data').item.json.content }}\n{{ $('Get Series Dossier').item.json.content }}\n{{ $('Get Story Data1').item.json.content }}\n\n[BEGIN INSTRUCTIONS]\nLet's finetune our tropes. Please list any specific scenes we need to have in the story that are must-haves for each of the tropes used in this story. List each trope separately and identify which scenes or things we need to bring into the story that are specific to each trope. Tag your response [BEGIN TROPE SCENES][END TROPE SCENES]\n[END INSTRUCTIONS]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2340,
        80
      ],
      "id": "99931103-b178-4823-9f7a-bbc196bf019c",
      "name": "Trope Scenes"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[BEGIN SYSTEM]\n{{ $('Get System Instructions').item.json.content }}\n[END SYSTEM]\n{{ $('Get Series Data').item.json.content }}\n{{ $('Get Series Dossier').item.json.content }}\n{{ $('Get Story Data1').item.json.content }}\n\n[BEGIN TROPE SCENES]\n{{ $('Trope Scenes').last().json.text }}\n[END TROPE SCENES]\n\n[BEGIN NUMBER OF INTIMATE SCENES]\n{{ $('On form submission').last().json['Number of Spicy Scenes'] }}\n[END NUMBER OF INTIMATE SCENES]\n\n[BEGIN INSTRUCTIONS]\nGreat! Let's also plot out the romance arc for our main characters. Be sure to take into consideration the number of intimate scenes required for this story. Tag your response [BEGIN ROMANCE ARC][END ROMANCE ARC].\n[END INSTRUCTIONS]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2860,
        80
      ],
      "id": "450f91ba-0325-49ae-af58-65e510497e13",
      "name": "Romance Arc"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[BEGIN SYSTEM]\n{{ $('Get System Instructions').item.json.content }}\n[END SYSTEM]\n{{ $('Get Series Data').item.json.content }}\n{{ $('Get Series Dossier').item.json.content }}\n\n[BEGIN GENRE ANALYSES]\n{{ $('Get Analyses').item.json.content }}\n[END GENRE ANALYSES]\n\n[BEGIN SUGGESTED PLOTS]\n{{ $('Generate Plots').item.json.text }}\n[END SUGGESTED PLOTS]\n\n[BEGIN SUGGESTED PLOT EVALUATION]\n{{ $json.text }}\n[END SUGGESTED PLOT EVALUATION]\n\n[BEGIN INSTRUCTIONS]\nFinally, incorporate the suggested improvements into the selected plot and state ONLY the refined selected plot with the tag [BEGIN SELECTED PLOT] before, and the tag [END SELECTED PLOT] after.\n[END INSTRUCTIONS]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1020,
        420
      ],
      "id": "0675cd27-869f-4202-8343-a9e592d5dd07",
      "name": "Select Plot"
    },
    {
      "parameters": {
        "content": "## The Story Overview\n\n\n",
        "height": 620,
        "width": 1480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2300,
        20
      ],
      "typeVersion": 1,
      "id": "b2039972-fe4e-4265-8cae-339d761afde0",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[BEGIN SYSTEM]\n{{ $('Get System Instructions').last().json.content }}\n[END SYSTEM]\n\n{{ $('Get Story Data1').last().json.content }}\n\n{{ $('Trope Scenes').last().json.text }}\n\n[BEGIN NUMBER OF INTIMATE SCENES]\n{{ $('On form submission').last().json['Number of Spicy Scenes'] }}\n[END NUMBER OF INTIMATE SCENES]\n\n{{ $('Selected Supblots').item.json.text }}\n\n[BEGIN STRUCTURE TEMPLATE]\n{{ $json.content }}\n[END STRUCTURE TEMPLATE]\n\n[BEGIN INSTRUCTIONS]\nPlease use the [STRUCTURE TEMPLATE]  to sketch out a high-level plot outline for this story. Please pencil in the [TROPE SCENES], [ROMANCE ARC], [INTIMATE SCENES], and [SUBPLOTS] progression.\n\n[END INSTRUCTIONS]"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2860,
        480
      ],
      "id": "e6eb3f64-f72f-49f3-b6d8-e9057127fbab",
      "name": "Create Overview1"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        3560,
        300
      ],
      "id": "531dc902-3ee7-4a45-9f81-cce88d6cb0b6",
      "name": "Get Overview",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.docMap['Series Dossier'] }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        500,
        160
      ],
      "id": "599c8c93-e38d-4634-b9d4-3e261b6c9f5e",
      "name": "Get Series Dossier",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('On form submission').last().json['System Instructions Document ID'] }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        500,
        320
      ],
      "id": "34508d75-4f6d-4cb0-9d0b-5c21dfd61a6e",
      "name": "Get System Instructions",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Set IDs').item.json.docMap.Analyses }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        500,
        480
      ],
      "id": "4b9dfe2e-cc1a-4ea2-8c50-8e2ea03e2300",
      "name": "Get Analyses",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=Book {{ $('On form submission').last().json['Book Number in Series'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('On form submission').last().json['Series Folder ID'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        660,
        480
      ],
      "id": "d4592716-f845-4495-bc15-17b3a45ebd89",
      "name": "Create Story Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GGMwsXDU5mzBg6G4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "={{ $json.id }}",
        "title": "Story Data"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        500,
        640
      ],
      "id": "627d78a3-840f-4862-bb99-74b5e919eab6",
      "name": "Create Story Data",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=[BEGIN STORY METADATA]\n\n{{ $('Get Series Data').item.json.content }}\n\nNumber of Spicy Scenes: {{ $('On form submission').last().json['Number of Spicy Scenes'] }}\n\n[END STORY METADATA]\n\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        660,
        640
      ],
      "id": "0c2a686d-7a6b-4b03-92fc-e78cf2a7e830",
      "name": "Update Story Data",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Set IDs').item.json.docMap['Series Data'] }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        660,
        320
      ],
      "id": "b14a5434-7aac-49d3-8bfd-054ae59bc02a",
      "name": "Get Series Data",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "={{ $('Create Story Folder').item.json.id }}",
        "title": "Scrap Pile"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        500,
        800
      ],
      "id": "eed67092-8740-467d-8a4d-f02269afa612",
      "name": "Create Scrap Pile",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Update Story Data').item.json.documentId }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=\n{{ $('Select Plot').item.json.text }}\n\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1020,
        740
      ],
      "id": "7cc91071-e015-4bf3-a649-863c759ef3af",
      "name": "Update Story Data1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.documentId }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1180,
        740
      ],
      "id": "34c6833e-6fb4-4a52-bf52-ba9742df63d4",
      "name": "Get Story Data",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Get Story Data').item.json.documentId }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=\n[BEGIN PROPOSED SUBPLOTS]\n{{ $('Generate and Evaluate Supblots').item.json.text }}\n[END PROPOSED SUBPLOTS]\n\n{{ $('Selected Supblots').item.json.text }}\n\n{{ $('Final Plot').item.json.text }}\n\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1460,
        840
      ],
      "id": "dfca3e68-ddc1-4235-82b9-274063d5d4e4",
      "name": "Update Story Data2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.documentId }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1620,
        840
      ],
      "id": "3e15ff1f-e60f-434c-8705-5769d8e78fba",
      "name": "Get Story Data1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        2180,
        1440
      ],
      "id": "b6c23372-88f9-4d87-b351-466342bf7065",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "gdxdG4eQPTxmJLVS",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Set IDs').item.json.docMap['Series Premises'] }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        660,
        160
      ],
      "id": "24085d31-4f05-4af1-aba9-bd1467ff605b",
      "name": "Get Series Premises",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json['Series Folder ID'] }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        180,
        0
      ],
      "id": "f06dc885-727b-4ed6-a5e7-bbb1bd68e5b1",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GGMwsXDU5mzBg6G4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const docMap = {};\nfor (const item of items) {\n  docMap[item.json.name] = item.json.id;\n}\nreturn [{ json: { docMap } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        0
      ],
      "id": "d8caf03c-bd3c-4c7a-93cf-248414162d23",
      "name": "Get IDs"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3241217a-4e0d-4c03-8553-0b7b7cc1e707",
              "name": "docMap['Series Dossier']",
              "value": "={{ $json.docMap['Series Dossier'] }}",
              "type": "string"
            },
            {
              "id": "f4fae87b-a27f-4e03-a552-4d16f746918d",
              "name": "docMap['Series Premises']",
              "value": "={{ $json.docMap['Series Premises'] }}",
              "type": "string"
            },
            {
              "id": "2eea1c6b-3e26-4d1e-a1d4-47261b0be386",
              "name": "docMap['Series Data']",
              "value": "={{ $json.docMap['Series Data'] }}",
              "type": "string"
            },
            {
              "id": "5f3f6c72-3066-4d22-b4aa-6b902f6484fe",
              "name": "docMap.Roster",
              "value": "={{ $json.docMap.Roster }}",
              "type": "string"
            },
            {
              "id": "3a81d64c-499e-4c54-8e4e-d6e578d12ab7",
              "name": "docMap.Analyses",
              "value": "={{ $json.docMap.Analyses }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        0
      ],
      "id": "4db9234d-66d2-4991-abdf-98bbac2fdb44",
      "name": "Set IDs"
    },
    {
      "parameters": {
        "formTitle": "Book in Series Outline Development",
        "formFields": {
          "values": [
            {
              "fieldLabel": "System Instructions Document ID"
            },
            {
              "fieldLabel": "Series Folder ID"
            },
            {
              "fieldLabel": "Book Number in Series"
            },
            {
              "fieldLabel": "Number of Spicy Scenes"
            },
            {
              "fieldLabel": "Primary Genre",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Fantasy"
                  },
                  {
                    "option": "Mystery/Thriller/Suspense"
                  },
                  {
                    "option": "Romance"
                  },
                  {
                    "option": "Women's Fiction"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "a31f9972-4216-49a1-9d6c-e6c8b178448a",
      "name": "On form submission",
      "webhookId": "43e26b29-c440-49b5-a4a2-86871a1667f7"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "=1IeXQmLRtvHSQuativ5AGLk2PqUaL2LH5YgSkIMTicTY"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        660,
        800
      ],
      "id": "c6a8acc6-cd89-44fe-a1da-da5891c45902",
      "name": "Load Character Names DB",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[BEGIN SYSTEM]\n{{ $('On form submission').last().json['System Instructions Document ID'] }}\n[END SYSTEM]\n\n{{ $json.content }}\n\n[BEGIN INSTRUCTIONS]\nWe are creating a richly developed main character for the novel premise above, which will be written in deep POV. This character will be the PROTAGONIST of the two primary POV characters. \n\nBased on the inputs below, create a comprehensive character document that includes the following outputs:\n\n1. Full Character Profile:\nUse the format below to generate a detailed character sheet. Fill in each section thoughtfully and creatively. If details are missing, invent plausible ones that fit the tone and genre.\n\n[BEGIN CHARACTER PROFILE TEMPLATE]\n{{ $('Load MC Template').last().json.content }}\n[END CHARACTER PROFILE TEMPLATE]\n\n2. Emotional Wound & Identity Conflict:\nBased on their personal history, flaws, regrets, fears, and formative moments, describe the character’s central emotional wound. Explain how this shapes their worldview, behavior, and interpersonal relationships at the start of the story. \n\n3. Internal Voice Sample:\nWrite a first-person internal monologue as the character reacts to a frustrating or mildly absurd situation (e.g., tech glitch, passive-aggressive comment, an awkward run-in). Use their voice to show tone, inner rhythm, filters, and emotional bias. Include sensory and emotional detail, per the author’s stylistic guidelines.\n\n4. Growth in Action Scenelet:\nDepending on book POV as indicated in the [STORY DATA], write a short third-person or first-person POV scene showing the character making a meaningful choice that reflects their personal growth. Contrast how they might have behaved earlier in the story with how they act now.\n\nStyle Requirements:\nFollow the author’s writing style: deep emotional POV, sensory grounding, indirect emotional cues, layered interpersonal dynamics, and dry or understated humor. Avoid sentimentality and head-hopping. Adapt for genre if specified.\n\n[END INSTRUCTIONS]"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1900,
        80
      ],
      "id": "f24bad7b-9b1a-47fd-9f4f-48fb29001b66",
      "name": "Create Protagonist Profile"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[BEGIN SYSTEM]\n{{ $('On form submission').last().json['System Instructions Document ID'] }}\n[END SYSTEM]\n\n{{ $('Get Story Data1').item.json.content }}\n[BEGIN PROTAGONIST PROFILE]\n{{ $json.content }}\n[END PROTAGONIST PROFILE]\n\n[BEGIN INSTRUCTIONS]\nWe are creating a richly developed main character for the novel premise above, which will be written in deep POV. This character will be the DEUTERAGONIST of the two primary POV characters. \n\nBased on the inputs below, create a comprehensive character document that includes the following outputs:\n\n1. Full Character Profile:\nUse the format below to generate a detailed character sheet. Fill in each section thoughtfully and creatively. If details are missing, invent plausible ones that fit the tone and genre.\n\n[BEGIN CHARACTER PROFILE TEMPLATE]\n{{ $('Load MC Template').last().json.content }}\n[END CHARACTER PROFILE TEMPLATE]\n\n2. Emotional Wound & Identity Conflict:\nBased on their personal history, flaws, regrets, fears, and formative moments, describe the character’s central emotional wound. Explain how this shapes their worldview, behavior, and interpersonal relationships at the start of the story. \n\n3. Internal Voice Sample:\nWrite a first-person internal monologue as the character reacts to a frustrating or mildly absurd situation (e.g., tech glitch, passive-aggressive comment, an awkward run-in). Use their voice to show tone, inner rhythm, filters, and emotional bias. Include sensory and emotional detail, per the author’s stylistic guidelines.\n\n4. Growth in Action Scenelet:\nDepending on book POV as indicated in the [STORY DATA], write a short third-person or first-person POV scene showing the character making a meaningful choice that reflects their personal growth. Contrast how they might have behaved earlier in the story with how they act now.\n\nStyle Requirements:\nFollow the author’s writing style: deep emotional POV, sensory grounding, indirect emotional cues, layered interpersonal dynamics, and dry or understated humor. Avoid sentimentality and head-hopping. Adapt for genre if specified.\n\n[END INSTRUCTIONS]"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1900,
        400
      ],
      "id": "0a1a1f00-e752-472a-b8d0-7c0b7c450fbe",
      "name": "Create Deuteragonist Profile"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.text }}",
        "name": "=Protagonist Profile",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Story Folder').last().json.id }}",
          "mode": "id"
        },
        "options": {
          "convertToGoogleDocument": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1900,
        240
      ],
      "id": "4319f74f-f6df-4d64-a0f6-789d4c4ea982",
      "name": "Update Protagonist",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GGMwsXDU5mzBg6G4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.text }}",
        "name": "=Deuteragonist Profile",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Story Folder').last().json.id }}",
          "mode": "id"
        },
        "options": {
          "convertToGoogleDocument": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1900,
        560
      ],
      "id": "4f863ecf-e059-483c-9e5e-efee4efd77ab",
      "name": "Update Deuteragonist",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GGMwsXDU5mzBg6G4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2060,
        240
      ],
      "id": "44c76dd1-da89-4d28-a81c-9b2e4b7ba1af",
      "name": "Get Protagonist Profile",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2060,
        560
      ],
      "id": "f558cfe9-2f01-488b-b382-a58d9b604f38",
      "name": "Get Deuteragonist Profile",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.text }}",
        "name": "=Character Roster",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Story Folder').last().json.id }}",
          "mode": "id"
        },
        "options": {
          "convertToGoogleDocument": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1900,
        880
      ],
      "id": "27b7bd38-148c-438e-a85e-6af68c1b41a7",
      "name": "Update Character Roster",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GGMwsXDU5mzBg6G4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2060,
        880
      ],
      "id": "a92858cf-f387-4aba-b0e5-5ded2ba69c5a",
      "name": "Get Characters Roster",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[BEGIN SYSTEM]\n{{ $('Get System Instructions').item.json.content }}\n[END SYSTEM]\n\n{{ $('Get Story Data1').item.json.content }}\n\n[BEGIN PROTAGONIST PROFILE]\n{{ $('Get Protagonist Profile').item.json.content }}\n[END PROTAGONIST PROFILE]\n[BEGIN DEUTERAGONIST PROFILE]\n{{ $json.content }}\n[END DEUTERAGONIST PROFILE]\n[BEGIN CHARACTER NAME DATABASE]\n{{ $('Load Character Names DB').item.json.content }}\n[BEGIN CHARACTER NAME DATABASE]\n\n[BEGIN INSTRUCTIONS]\nPlease develop a roster of other supporting characters that would be appropriate for a project of this length. The list should include name, role in the story, and a brief description. Please select first and last names for each character from the [CHARACTER NAME DATABASE] provided.\n\nThen, using the [TEMPLATE] below, please create a character profile for each secondary character.\n\n[BEGIN TEMPLATE]\n{{ $('Load SC Template').item.json.content }}\n[END TEMPLATE]\n\nNo incest or incest-adjacent romantic relationships, please! This includes distant cousins!\n[END INSTRUCTIONS]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1900,
        720
      ],
      "id": "16f865e0-a73c-4287-af5c-6d03d76873b0",
      "name": "Character Roster1"
    },
    {
      "parameters": {
        "content": "## Character Profiles\n\n",
        "height": 1060,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1860,
        0
      ],
      "typeVersion": 1,
      "id": "b91db2a7-59ad-43c1-97c9-44cf4596eb63",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "18WuZvzUEmVjx9cRaFkgqz8fesEKapbcCzV3Hld8E7Lc"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        500,
        960
      ],
      "id": "04d39850-af71-465e-be70-aa5eaed5972e",
      "name": "Load MC Template",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1TKQctQcFKEw1iEQLOO9L-rGSM7LyASzzVIrcjAIYVcI"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        660,
        960
      ],
      "id": "76e83589-f0e0-4f01-b6f0-c329dd678d89",
      "name": "Load SC Template",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('On form submission').last().json['Primary Genre'] }}",
                    "rightValue": "Romance",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e9771b41-43e4-4f25-a4d1-ef68eccb8912"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ab5c71cb-bfd9-49b5-80bc-1e9ab814e0aa",
                    "leftValue": "={{ $('On form submission').last().json['Primary Genre'] }}",
                    "rightValue": "Romance",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2360,
        300
      ],
      "id": "ca043344-4605-4161-9d3d-b77c580d45dd",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1642tPEtq16bqW5EKJjfVtkd9D9LHH-N8PocngPu0e5I"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2720,
        80
      ],
      "id": "6e7cc9da-4dfc-4e4b-a463-8ea234a951a2",
      "name": "Get Romance Structure",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1eTTvYKRkU3Ez1nXd03VmG5Lnubm3BSyJMfpY7hUsoBg"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2720,
        480
      ],
      "id": "85361879-1129-4bc7-8ca5-bf6fd0b0c757",
      "name": "Get General 5 Act Structure",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.text }}",
        "name": "=Overview",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Story Folder').last().json.id }}",
          "mode": "id"
        },
        "options": {
          "convertToGoogleDocument": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3400,
        300
      ],
      "id": "cbcf0d98-552a-42b7-8cd9-18768327508c",
      "name": "Update Overview",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GGMwsXDU5mzBg6G4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[BEGIN SYSTEM]\n{{ $('Get System Instructions').last().json.content }}\n[END SYSTEM]\n\n{{ $('Get Story Data1').last().json.content }}\n\n{{ $('Trope Scenes').last().json.text }}\n\n{{ $('Romance Arc').last().json.text }}\n\n[BEGIN NUMBER OF INTIMATE SCENES]\n{{ $('On form submission').last().json['Number of Spicy Scenes'] }}\n[END NUMBER OF INTIMATE SCENES]\n\n{{ $('Selected Supblots').item.json.text }}\n\n[BEGIN STRUCTURE TEMPLATE]\n{{ $('Get Romance Structure').item.json.content }}\n[END STRUCTURE TEMPLATE]\n\n[BEGIN INSTRUCTIONS]\nPlease use the [STRUCTURE TEMPLATE]  to sketch out a high-level plot outline for this story. Please pencil in the [TROPE SCENES], [ROMANCE ARC], [INTIMATE SCENES], and [SUBPLOTS] progression.\n\n[END INSTRUCTIONS]"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2860,
        240
      ],
      "id": "add94a47-5a62-49a9-8716-89eaebdd6ecb",
      "name": "Create Overview"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Plots",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Evaluate Plots",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Select Plot",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Selected Supblots",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Generate and Evaluate Supblots",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Final Plot",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Trope Scenes",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Romance Arc",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Create Overview1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Create Protagonist Profile",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Create Deuteragonist Profile",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Character Roster1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Create Overview",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Plots": {
      "main": [
        [
          {
            "node": "Evaluate Plots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Plot": {
      "main": [
        [
          {
            "node": "Update Scrap2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Scrap2": {
      "main": [
        [
          {
            "node": "Update Story Data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Scrap1": {
      "main": [
        [
          {
            "node": "Update Story Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Plots": {
      "main": [
        [
          {
            "node": "Select Plot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate and Evaluate Supblots": {
      "main": [
        [
          {
            "node": "Selected Supblots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selected Supblots": {
      "main": [
        [
          {
            "node": "Final Plot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trope Scenes": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Romance Arc": {
      "main": [
        [
          {
            "node": "Create Overview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Plot": {
      "main": [
        [
          {
            "node": "Update Scrap1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Overview1": {
      "main": [
        [
          {
            "node": "Update Overview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Series Dossier": {
      "main": [
        [
          {
            "node": "Get Series Premises",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get System Instructions": {
      "main": [
        [
          {
            "node": "Get Series Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Analyses": {
      "main": [
        [
          {
            "node": "Create Story Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Story Folder": {
      "main": [
        [
          {
            "node": "Create Story Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Story Data": {
      "main": [
        [
          {
            "node": "Update Story Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Story Data": {
      "main": [
        [
          {
            "node": "Create Scrap Pile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Series Data": {
      "main": [
        [
          {
            "node": "Get Analyses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Scrap Pile": {
      "main": [
        [
          {
            "node": "Load Character Names DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Story Data1": {
      "main": [
        [
          {
            "node": "Get Story Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Story Data": {
      "main": [
        [
          {
            "node": "Generate and Evaluate Supblots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Story Data2": {
      "main": [
        [
          {
            "node": "Get Story Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Story Data1": {
      "main": [
        [
          {
            "node": "Create Protagonist Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Series Premises": {
      "main": [
        [
          {
            "node": "Get System Instructions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Get IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get IDs": {
      "main": [
        [
          {
            "node": "Set IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set IDs": {
      "main": [
        [
          {
            "node": "Get Series Dossier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Character Names DB": {
      "main": [
        [
          {
            "node": "Load MC Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Protagonist Profile": {
      "main": [
        [
          {
            "node": "Update Protagonist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Deuteragonist Profile": {
      "main": [
        [
          {
            "node": "Update Deuteragonist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Protagonist": {
      "main": [
        [
          {
            "node": "Get Protagonist Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Deuteragonist": {
      "main": [
        [
          {
            "node": "Get Deuteragonist Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Protagonist Profile": {
      "main": [
        [
          {
            "node": "Create Deuteragonist Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Deuteragonist Profile": {
      "main": [
        [
          {
            "node": "Character Roster1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Character Roster": {
      "main": [
        [
          {
            "node": "Get Characters Roster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Roster1": {
      "main": [
        [
          {
            "node": "Update Character Roster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load MC Template": {
      "main": [
        [
          {
            "node": "Load SC Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load SC Template": {
      "main": [
        [
          {
            "node": "Generate Plots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Characters Roster": {
      "main": [
        [
          {
            "node": "Trope Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Romance Structure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get General 5 Act Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Romance Structure": {
      "main": [
        [
          {
            "node": "Romance Arc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Overview": {
      "main": [
        [
          {
            "node": "Get Overview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get General 5 Act Structure": {
      "main": [
        [
          {
            "node": "Create Overview1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Overview": {
      "main": [
        [
          {
            "node": "Update Overview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bea0d5f0-9a32-4f8f-87d4-c309d2d8684b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce3f5f7c2d244f2d30fc49e8c171f97691ba9f45902616b500d75b8f7ea563b1"
  },
  "id": "dCgagrkny3TCaFeT",
  "tags": []
}
