workshop-parts/n8n/series_components_v1.json
{
  "name": "1 - Series Components",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "maxTokens": 16384
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2300,
        2240
      ],
      "id": "2312d7fe-40c2-4b7e-a5b9-5780fc53f0bb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "MQOy0ksjlWiPJNyJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        720,
        280
      ],
      "id": "912c058f-dcc2-473c-a347-fce68cde8d9a",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Extract the OpenAI content and document ID\nconst items = $input.all();\nlet documentId = '';\nlet aiContent = '';\n\n// Search through items to find what we need\nfor (const item of items) {\n  if (item.json.documentId) {\n    documentId = item.json.documentId;\n  }\n  if (item.json.message && item.json.message.content) {\n    aiContent = item.json.message.content;\n  }\n}\n\n// Return a clean object with just what we need\nreturn [{\n  json: {\n    documentId: documentId,\n    aiContent: aiContent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        440
      ],
      "id": "e7229174-a9f3-479b-bd51-7c12a0e04964",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "// Extract the OpenAI content and document ID\nconst items = $input.all();\nlet documentId = '';\nlet aiContent = '';\n\n// Search through items to find what we need\nfor (const item of items) {\n  if (item.json.documentId) {\n    documentId = item.json.documentId;\n  }\n  if (item.json.message && item.json.message.content) {\n    aiContent = item.json.message.content;\n  }\n}\n\n// Return a clean object with just what we need\nreturn [{\n  json: {\n    documentId: documentId,\n    aiContent: aiContent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        500
      ],
      "id": "d3675ced-43eb-49df-be7d-9c7adf53a620",
      "name": "Code2"
    },
    {
      "parameters": {
        "content": "## Handle Data File and Form Data\n\nCaptures and extracts the submitted data and the binary data file uploaded for analysis so that it can be accessed correctly in later steps.\n",
        "height": 680,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -300,
        -160
      ],
      "typeVersion": 1,
      "id": "dcdcb0ef-a77f-43ba-8802-fc89dd183109",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Data Analysis\n\nStep to analyze submitted Kindletrends Amazon top 100 bestseller data and provide insights, trends, etc. Middle step imports System message.\n",
        "height": 360,
        "width": 600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        380
      ],
      "typeVersion": 1,
      "id": "d8790669-bb1d-4637-a01e-ff2fc44474a0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Create Folder and Document\n\nStep creates a Project folder based on the Project Nickname given in the form and creates a file o capture initial metadata information and AI analysis.\n",
        "height": 340,
        "width": 600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        20
      ],
      "typeVersion": 1,
      "id": "2a03bde4-133e-465c-a414-4e97a13190a2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Trope Analysis\n",
        "height": 580,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        980,
        240
      ],
      "typeVersion": 1,
      "id": "d49c4e07-4bab-411d-ad83-bf94aa2fe3cd",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "formTitle": "Series Metadata",
        "formDescription": "Series Development Workflow",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Series Nickname",
              "requiredField": true
            },
            {
              "fieldLabel": "Type of Project",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Dynamic/Sequential Series (same characters)"
                  },
                  {
                    "option": "Anthology Series (interconnected different characters)"
                  },
                  {
                    "option": "Static Series (character driven)"
                  },
                  {
                    "option": "Standalones"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Primary Genre",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Fantasy"
                  },
                  {
                    "option": "Mystery/Thriller/Suspense"
                  },
                  {
                    "option": "Romance"
                  },
                  {
                    "option": "Women's Fiction"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Subgenres",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Literature & Fiction-Women's Fiction-Fantasy"
                  },
                  {
                    "option": "Literature & Fiction-Women's Fiction-Romance"
                  },
                  {
                    "option": "Romance-Mafia"
                  },
                  {
                    "option": "Romance-Sports"
                  },
                  {
                    "option": "Romance-Polyamory"
                  },
                  {
                    "option": "Romance-Gothic"
                  },
                  {
                    "option": "Romance-Billionaires & Millionaires"
                  },
                  {
                    "option": "Romance-Workplace"
                  },
                  {
                    "option": "Romance-Enemies to Lovers"
                  },
                  {
                    "option": "Romance-Small Town"
                  },
                  {
                    "option": "Romance-Paranormal-Witches & Wizards"
                  },
                  {
                    "option": "Romance-Paranormal-Magic"
                  },
                  {
                    "option": "Romance-Historical Romance"
                  },
                  {
                    "option": "Romance-LGBTQ+"
                  },
                  {
                    "option": "Science Fiction & Fantasy-Fantasy-Romantic"
                  },
                  {
                    "option": "Science Fiction & Fantasy-Fantasy-Gaslamp"
                  },
                  {
                    "option": "Science Fiction & Fantasy-Fantasy-Sword & Sorcery"
                  },
                  {
                    "option": "Science Fiction & Fantasy-Fantasy-New Adult & College"
                  },
                  {
                    "option": "Science Fiction & Fantasy-Fantasy-Dark Fantasy"
                  },
                  {
                    "option": "Science Fiction & Fantasy-Fantasy-Urban & Paranormal"
                  },
                  {
                    "option": "Mystery, Thriller & Suspense-Thrillers-Domestic"
                  },
                  {
                    "option": "Mystery, Thriller & Suspense-Suspense-Psychological"
                  },
                  {
                    "option": "Mystery, Thriller & Suspense-Thrillers-Psychological"
                  }
                ]
              },
              "multiselect": true
            },
            {
              "fieldLabel": "Number of Books in Series"
            },
            {
              "fieldLabel": "Target Word Count Per Book",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Target Chapter Length Per Book"
            },
            {
              "fieldLabel": "Total Chapter Count Per Book"
            },
            {
              "fieldLabel": "Spice Level",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1 - Clean/Sweet 🌶️"
                  },
                  {
                    "option": "2 - Mild 🌶️🌶️"
                  },
                  {
                    "option": "3 - Moderate 🌶️🌶️🌶️"
                  },
                  {
                    "option": "4 - Steamy 🌶️🌶️🌶️🌶️"
                  },
                  {
                    "option": "5 - Explicit/Erotica 🌶️🌶️🌶️🌶️🌶️"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Number of Spicy Scenes Per Book",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Point of View",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Third Person, Limited"
                  },
                  {
                    "option": "First Person"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Number of POVs Per Book",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Single"
                  },
                  {
                    "option": "Dual, alternating"
                  },
                  {
                    "option": "Multiple"
                  }
                ]
              }
            },
            {
              "fieldType": "hiddenField",
              "fieldName": "Tense",
              "fieldValue": "Past Tense"
            },
            {
              "fieldLabel": "Additional Details"
            },
            {
              "fieldLabel": "=Data File",
              "fieldType": "file",
              "multipleFiles": false
            },
            {
              "fieldLabel": "System Instructions Document ID",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -500,
        80
      ],
      "id": "e9c50eb9-617f-46ae-8cd6-c234919b3f38",
      "name": "On form submission1",
      "webhookId": "2088a1ca-90a9-431b-a2c5-552448e387d5"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('On form submission1').item.json['System Instructions Document ID'] }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        180,
        400
      ],
      "id": "2b24cf36-dda9-407a-aa4e-56988c994517",
      "name": "System Instructions",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "133e2373-6214-4530-9b7c-0c06f7791f41",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        400
      ],
      "id": "28cd791c-8da5-4dd8-8e08-82ff5cb76a3f",
      "name": "Store KT Data"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=[BEGIN SYSTEM]\n{{ $json.content }}\n[END SYSTEM]\n\n[BEGIN INSTRUCTIONS]\nAnalyze the [data] for patterns and trends, with a focus on series. Focus on the following: subgenres, settings, themes, tone and style, standalone vs. series, pricing, and accessibility.\n\nSelect the Most Successful Ingredients. Based on the data, pick the most popular and consistent elements.\n\nIdentify Gaps or Opportunities for Innovation. Look for opportunities to innovate by combining popular tropes or adding a fresh twist.\n\nList a summary of 5-7 key trends.\n\n[BEGIN DATA]\n{{ $('Store KT Data').item.json.data }}\n[END DATA]\n[END INSTRUCTIONS]\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        320,
        400
      ],
      "id": "298cbf99-c76f-4ebb-97a6-de0b94bdf1ca",
      "name": "Data Analysis",
      "credentials": {
        "openAiApi": {
          "id": "MQOy0ksjlWiPJNyJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"keepOnlySet\": false,\n  \"values\": {\n    \"formData\": \"={{$json}}\"\n  }\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -220,
        80
      ],
      "id": "ae487cf7-5fd1-4a78-b408-e14e3b58cb4e",
      "name": "Store Form Data"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "Data_File",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -220,
        300
      ],
      "id": "5fb8d8f5-eb4b-40e2-bb46-5d748d1230a3",
      "name": "Extract KT Data"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=[BEGIN SYSTEM]\n{{ $('System Instructions').last().json.content }}\n[END SYSTEM]\n\n[BEGIN INSTRUCTIONS]\nBased on the [ANALYSIS] below, please create a list of 20 common or trending tropes that appear in the [genre]. \n\nEvaluate each trope based on: \nPopularity in the market.\nEmotional intensity.\nDrama factor.\nTrend alignment.\nFreshness potential.\n\nAssign a score from 1 to 10 for each criterion.\n\nOutput: A table with tropes, scores for each criterion, and their total scores. Highlight the top 5 tropes.\n\n[BEGIN SERIES DATA]\n{{ $json.content }}\n[END SERIES DATA]\n\n[BEGIN DATA ANALYSIS]\n{{ $('Get Analyses').item.json.content }}\n[END DATA ANALYSIS]\n[END INSTRUCTIONS]"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1020,
        340
      ],
      "id": "3f258a76-21f1-4684-97ce-21a78f68f455",
      "name": "Trope Analysis",
      "credentials": {
        "openAiApi": {
          "id": "MQOy0ksjlWiPJNyJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1IeXQmLRtvHSQuativ5AGLk2PqUaL2LH5YgSkIMTicTY"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2420,
        1540
      ],
      "id": "02c6e2f3-7813-4871-8014-0b7a390c7664",
      "name": "Character Names DB",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "={{ $(\"Create Series Folder\").first().json.id }}",
        "title": "Scrap Pile"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1740,
        1380
      ],
      "id": "6d097118-ffcf-47cd-9d71-a292d43f247e",
      "name": "Create Scrap Pile",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "content": "##           Premise Selection\n\n",
        "height": 920,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2220,
        800
      ],
      "typeVersion": 1,
      "id": "7fbe73a8-defe-4edc-87e0-5854c74cb72e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "folderId": "={{ $('Create Series Folder').first().json.id }}",
        "title": "Roster"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2800,
        1040
      ],
      "id": "49eee89d-48e4-4d1c-ace1-2e5f468c4e2f",
      "name": "Create Roster",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=[BEGIN CHARACTER ROSTER]\n{{ $('Character Roster').item.json.text }}\n[END CHARACTER ROSTER]\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2940,
        1040
      ],
      "id": "29392ed6-524a-4df2-9b9f-cc4c12f2b698",
      "name": "Update Roster",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.documentId }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2800,
        1200
      ],
      "id": "9bfb2a43-cd04-47cc-9378-3d9ea3597abc",
      "name": "Get Roster",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[BEGIN SYSTEM]\n{{ $('System Instructions').last().json.content }}\n[END SYSTEM]\n{{ $('Get Series Data1').last().json.content }}\n{{ $('Get Series Premises1').last().json.content }}\n\n[BEGIN CHARACTER NAME DATABASE]\n{{ $('Character Names DB').item.json.content }}\n[BEGIN CHARACTER NAME DATABASE]\n\n[BEGIN INSTRUCTIONS]\n\nUsing the [CHARACTER NAME DATABASE], select first and last names for the main characters for each individual [BOOK PREMISE] in the [SERIES METADATA]. \n\nAdditionally, please develop a roster of other recurring, supporting characters that would be appropriate for a project of this length. The list should include name, role in the series, and a brief description. Please select first and last names for each character from the [CHARACTER NAME DATABASE] provided.\n\nNo incest or incest-adjacent romantic relationships, please! This includes distant cousins!\n[END INSTRUCTIONS]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2780,
        880
      ],
      "id": "f3063376-b911-426c-adc4-73790f581570",
      "name": "Character Roster"
    },
    {
      "parameters": {
        "content": "## Character Profiles\n\n",
        "height": 560,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2760,
        800
      ],
      "typeVersion": 1,
      "id": "4352dcdb-46f6-4e24-af62-00ec4ad6c889",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## The Series \nDossier\n\n\n",
        "height": 400,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2760,
        1420
      ],
      "typeVersion": 1,
      "id": "dd0f2202-8e35-48e3-bc09-7bf6fa329260",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "folderId": "={{ $(\"Create Series Folder\").first().json.id }}",
        "title": "Analyses"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        720,
        600
      ],
      "id": "787ee847-2983-4aab-8ef6-cd4259ebc259",
      "name": "Create Analyses",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.documentId }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        720,
        920
      ],
      "id": "83dfbc16-a089-4b82-8bca-b789f83efba6",
      "name": "Get Analyses",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Get Analyses').last().json.documentId }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=\n[BEGIN TROPE ANALYSIS]\n{{$json.aiContent}}\n[END TROPE ANALYSIS]\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1180,
        500
      ],
      "id": "9f6a2669-b7f3-4839-8d45-e9eff37b16ba",
      "name": "Update Analyses2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=[BEGIN DATA ANALYSIS]\n{{ $('Code1').item.json.aiContent }}\n[END DATA ANALYSIS]\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        720,
        760
      ],
      "id": "1a87181d-7ec0-4b66-a9ba-88812d1ed7ef",
      "name": "Update Analyses",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.documentId }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1180,
        660
      ],
      "id": "ca4e1cf1-dc0e-4c47-a8cb-3ac4d6500fc0",
      "name": "Get Analyses1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=[BEGIN PREMISES]\n{{ $('Series Premise').item.json.text }}\n[END PREMISES]\n\n[BEGIN PREMISE EVALUATION]\n{{ $('Evaluate Series Premises').item.json.text }}\n[END PREMISE EVALUATION]"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1900,
        1380
      ],
      "id": "301c3925-1f48-49b8-9c7e-ccc8149d3e2e",
      "name": "Update Scrap",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Store Form Data').last().json['Series Nickname'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1FG8B9Btgm4-Vt-myLpU0j_yinTf_JYK_",
          "mode": "list",
          "cachedResultName": "AI Books",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1FG8B9Btgm4-Vt-myLpU0j_yinTf_JYK_"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        40,
        200
      ],
      "id": "2f05c733-4ade-4cb5-bea8-424e1e7bfc63",
      "name": "Create Series Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GGMwsXDU5mzBg6G4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "={{ $json.id }}",
        "title": "Series Data"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        240,
        200
      ],
      "id": "fcc17754-e041-4f3a-9d8a-7c478b105620",
      "name": "Create Series Data",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=[BEGIN SERIES METADATA]\n\nType of Project: {{ $('On form submission1').last().json['Type of Project'] }}\n\nPrimary Genre: {{ $('On form submission1').last().json['Primary Genre'] }}\n\nSubgenres: {{ $('On form submission1').last().json.Subgenres }}\n\nTarget Word Count Per Book: {{ $('Store Form Data').last().json['Target Word Count Per Book'] }}\n\nTarget Chapter Length Per Book: {{ $('Store Form Data').last().json['Target Chapter Length Per Book'] }}\n\nTotal Chapter Count Per Book: {{ $('Store Form Data').last().json['Total Chapter Count Per Book'] }}\n\nSpice Level: {{ $('On form submission1').last().json['Spice Level'] }}\n\nPoint of View: {{ $('On form submission1').last().json['Point of View'] }}\n\nNumber of POVs Per Book: {{ $('Store Form Data').last().json['Number of POVs Per Book'] }}\n\nTense: {{ $('On form submission1').last().json.Tense }}\n\nAdditional Details: {{ $('On form submission1').last().json['Additional Details'] }}\n\n[END SERIES METADATA]\n\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        460,
        200
      ],
      "id": "636d0941-2861-4fc7-9a49-4ed8abd262a5",
      "name": "Update Series Data",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Update Series Data').last().json.documentId }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        720,
        1080
      ],
      "id": "93012a58-1c89-412c-9c64-5851e2a4e30f",
      "name": "Get Series Data",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "content": "##           Series Premise Selection\n\n",
        "height": 920,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1700,
        800
      ],
      "typeVersion": 1,
      "id": "e281b43c-70f5-4cfc-b804-8cbe6a1f6c9c",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[BEGIN SYSTEM]\n{{ $('System Instructions').last().json.content }}\n[END SYSTEM]\n\n[BEGIN INSTRUCTIONS]\nFinally, incorporate the suggested improvements and state the selected premise with the tag [BEGIN SELECTED PREMISE] before, and the tag [END SELECTED PREMISE] after.\n[END INSTRUCTIONS]\n[BEGIN SERIES DATA]\n{{ $('Get Series Data').item.json.content }}\n[END SERIES DATA]\n\n[BEGIN PREMISES]\n{{ $('Series Premise').item.json.text }}\n[END PREMISES]\n\n[BEGIN PREMISES EVALUATION]\n{{ $json.text }}\n[END PREMISES EVALUATION]"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1740,
        1220
      ],
      "id": "70db48f8-1aca-4b67-aaa6-109da90eefc3",
      "name": "Select Premise1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Store Form Data').last().json['Primary Genre'] }}",
                    "rightValue": "Romance",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e9771b41-43e4-4f25-a4d1-ef68eccb8912"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ab5c71cb-bfd9-49b5-80bc-1e9ab814e0aa",
                    "leftValue": "={{ $('Store Form Data').last().json['Primary Genre'] }}",
                    "rightValue": "Mystery/Thriller/Suspense",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d66e42ad-d216-402e-81b7-8eef1e42aef4",
                    "leftValue": "={{ $('Store Form Data').last().json['Primary Genre'] }}",
                    "rightValue": "Fantasy",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1000,
        1180
      ],
      "id": "a76e08c2-bb82-47aa-bd98-97d9208c2f1e",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[BEGIN SYSTEM]\n{{ $('System Instructions').last().json.content }}\n[END SYSTEM]\n\n{{ $('Get Analyses1').item.json.content }}\n\n{{ $('Get Series Data').item.json.content }}\n\n[BEGIN INSTRUCTIONS]\n\nThis series is a {{ $('On form submission1').last().json['Type of Project'] }}.\n\n**Dynamic/Sequential Series (same characters)**\nA multi-book series following the same core characters through an overarching plot that develops across all books. Each book advances the main story arc while containing its own complete plot. The premise must have sufficient complexity, escalating stakes, and character growth potential to sustain the planned number of books. Think Harry Potter or The Hunger Games.\n\n**Anthology Series (interconnected different characters)**\nA series set in the same world/universe where each book features different main characters, but all stories are interconnected through setting, themes, or background events. The premise must establish a rich world with multiple story possibilities and natural connection points between books. Each book stands alone but enriches the overall series experience. Think Black Dagger Brotherhood or Discworld.\n\n**Static Series (character driven)**\nA series featuring the same main character(s) in episodic adventures where each book is self-contained with minimal overarching plot development. The premise should focus on a compelling protagonist with a repeatable story framework (detective solving cases, spy on missions). Character relationships may evolve, but the core premise remains stable. Think Jack Reacher or Stephanie Plum.\n\n**Standalones**\nIndividual books that are complete stories with no planned sequels or series connections. The premise should be fully resolved within one book with no loose threads requiring continuation. While the world could theoretically support more stories, each book is designed as a complete, independent experience. Think most literary fiction or one-off thrillers.\n\nWith this in mind, and including information from the [ANALYSIS], please generate 10 unique series premises for the genre(s) in the [SERIES METADATA] and type of series that can be used with the popular tropes as indicated in the [ANALYSIS].\n\nDepending on the type of series, ensure the premises are able to support a series of {{ $('On form submission1').last().json['Number of Books in Series'] }} books.\n\nNo incest or incest-adjacent romantic relationships, please! This includes distant cousins!\n\nEnsure each series premise includes the Essential Elements for Series Premises:\n\n{{ $json.content }}\n\n"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1740,
        900
      ],
      "id": "e9242673-b5aa-4049-b60d-0d86929a1804",
      "name": "Series Premise"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[BEGIN SYSTEM]\n{{ $('System Instructions').last().json.content }}\n[END SYSTEM]\n\n[BEGIN INSTRUCTIONS]\nEvaluate each of the [PREMISES] based on the following criteria: \nOriginality.\nEmotional impact.\nFeasibility to develop into a full series of {{ $('On form submission1').last().json['Number of Books in Series'] }} books.\nReader appeal (Meets reader expectations).\n\nNo incest or incest-adjacent romantic relationships, please! This includes distant cousins!\n\nAssign a score from 1 to 10 for each criterion and include a short explanation for each score.\n\nIdentify the highest-scoring remixed and refined premise with a brief explanation of the market potential.\n\nBased on the scores and evaluations, which premise stands out the most?\n\nExplain why this premise is the best choice and suggest any final improvements.\n\n[END INSTRUCTIONS]\n[BEGIN BOOK DATA]\n{{ $('Get Series Data').last().json.content }}\n[END BOOK DATA]\n\n[BEGIN PREMISES]\n{{ $json.text }}\n[END PREMISES]"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1740,
        1060
      ],
      "id": "749f5844-a000-42ab-b5ce-0709a3c685f5",
      "name": "Evaluate Series Premises"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[BEGIN SYSTEM]\n{{ $('System Instructions').last().json.content }}\n[END SYSTEM]\n{{ $('Get Series Data1').last().json.content }}\n[BEGIN SERIES PREMISES]\n{{ $('Get Series Premises1').last().json.content }}\n[END SERIES PREMISES]\n[BEGIN CHARACTER ROSTER]\n{{ $('Get Roster').last().json.content }}\n[END CHARACTER ROSTER]\n\n[BEGIN SERIES DOSSIER TEMPLATE]\n{{ $json.content }}\n[END SERIES DOSSIER TEMPLATE]\n\n[BEGIN INSTRUCTIONS]\nUsing the [SERIES METADATA]and the chosen [SERIES PREMISES], please provide a detailed Series Dossier using the provided template. This Dossier should contain all the relevant series information and can be referenced by the author when they are drafting each book in the series. Make sure to provide information to support all {{ $('Store Form Data').last().json['Number of Books in Series'] }} books in the series. NOTE: Pay close attention to the genre expectations.\n\nDO NOT ABBREVIATE THE RESPONSE; INCLUDE DETAILS FOR ALL {{ $('Store Form Data').last().json['Number of Books in Series'] }} BOOKS IN THE SERIES.\n[END INSTRUCTIONS]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2780,
        1520
      ],
      "id": "bcb37920-c0ad-4489-b854-e1d94b88309a",
      "name": "Series Dossier"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Update Scrap').last().json.documentId }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=[BEGIN BOOK PREMISES]\n{{ $('Book Premises').last().json.text }}\n[END PREMISES]\n\n[BEGIN BOOK PREMISE EVALUATION]\n{{ $('Evaluate Book Premises').last().json.text }}\n[END PREMISE EVALUATION]"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2260,
        1380
      ],
      "id": "ace1ea91-471a-4b5c-bc31-6ed4dde8b57b",
      "name": "Update Scrap1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[BEGIN SYSTEM]\n{{ $('System Instructions').last().json.content }}\n[END SYSTEM]\n\n{{ $('Get Analyses1').last().json.content }}\n\n{{ $('Get Series Data1').item.json.content }}\n\n{{ $('Get Series Premises').last().json.content }}\n\n[BEGIN INSTRUCTIONS]\n\nThis series is a {{ $('On form submission1').last().json['Type of Project'] }}.\n\n**Dynamic/Sequential Series (same characters)**\nA multi-book series following the same core characters through an overarching plot that develops across all books. Each book advances the main story arc while containing its own complete plot. The premise must have sufficient complexity, escalating stakes, and character growth potential to sustain the planned number of books. Think Harry Potter or The Hunger Games.\n\n**Anthology Series (interconnected different characters)**\nA series set in the same world/universe where each book features different main characters, but all stories are interconnected through setting, themes, or background events. The premise must establish a rich world with multiple story possibilities and natural connection points between books. Each book stands alone but enriches the overall series experience. Think Black Dagger Brotherhood or Discworld.\n\n**Static Series (character driven)**\nA series featuring the same main character(s) in episodic adventures where each book is self-contained with minimal overarching plot development. The premise should focus on a compelling protagonist with a repeatable story framework (detective solving cases, spy on missions). Character relationships may evolve, but the core premise remains stable. Think Jack Reacher or Stephanie Plum.\n\n**Standalones**\nIndividual books that are complete stories with no planned sequels or series connections. The premise should be fully resolved within one book with no loose threads requiring continuation. While the world could theoretically support more stories, each book is designed as a complete, independent experience. Think most literary fiction or one-off thrillers.\n\nWith this in mind, and including information from the [ANALYSIS] and [SERIES PREMISE], please generate 20 unique book premises for the series. Each premise should reflect the type of project. For example, Anthology Series should have the same series setting, but different main characters for each book, while Dynamic/Sequential Series have persistent main characters from book to book and the overarching plot elements from the [SERIES PREMISE] can be incorporated to reach a satisfying series plot conclusion.\n\nWe will select the {{ $('On form submission1').last().json['Number of Books in Series'] }} best of these premises for our final book premises, so they should all be related and feasibly exist within the same series.\n\nNo incest or incest-adjacent romantic relationships, please! This includes distant cousins!\n\nEnsure each premise includes: \nA central conflict and high emotional stakes.\nTrending tropes for guaranteed appeal.\nFresh twists to stand out in a saturated market.\nEmotional beats and stakes that resonate with readers.\nMarket alignment with the identified trends.\n\nOutput: A list of compelling premises that include: \nThe central conflict that sets up the [genre] dynamic.\nA hook that makes it irresistible.\nCharacters readers can root for.\nList of Major Tropes\nUniversal Fantasy Appeal"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2260,
        900
      ],
      "id": "e44e8bce-0a5e-4e9b-ab45-b99ea73287bb",
      "name": "Book Premises"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[BEGIN SYSTEM]\n{{ $('System Instructions').last().json.content }}\n[END SYSTEM]\n\n[BEGIN INSTRUCTIONS]\nThis series is a {{ $('On form submission1').last().json['Type of Project'] }}.\n\n**Dynamic/Sequential Series (same characters)**\nA multi-book series following the same core characters through an overarching plot that develops across all books. Each book advances the main story arc while containing its own complete plot. The premise must have sufficient complexity, escalating stakes, and character growth potential to sustain the planned number of books. Think Harry Potter or The Hunger Games.\n\n**Anthology Series (interconnected different characters)**\nA series set in the same world/universe where each book features different main characters, but all stories are interconnected through setting, themes, or background events. The premise must establish a rich world with multiple story possibilities and natural connection points between books. Each book stands alone but enriches the overall series experience. Think Black Dagger Brotherhood or Discworld.\n\n**Static Series (character driven)**\nA series featuring the same main character(s) in episodic adventures where each book is self-contained with minimal overarching plot development. The premise should focus on a compelling protagonist with a repeatable story framework (detective solving cases, spy on missions). Character relationships may evolve, but the core premise remains stable. Think Jack Reacher or Stephanie Plum.\n\n**Standalones**\nIndividual books that are complete stories with no planned sequels or series connections. The premise should be fully resolved within one book with no loose threads requiring continuation. While the world could theoretically support more stories, each book is designed as a complete, independent experience. Think most literary fiction or one-off thrillers.\n\nWith this in mind, please evaluate each of the [BOOK PREMISES] based on the following criteria: \nOriginality.\nEmotional impact.\nFeasibility to develop into a full book.\nReader appeal.\nFit within the [SERIES PREMISE]\nPotential for interconnectedness and/or development within the series premise.\n\nEach premise should reflect the type of project. For example, Anthology Series should have the same series setting, but different main characters for each book, while Dynamic/Sequential Series have persistent main characters from book to book, and the overarching plot elements from the [SERIES PREMISE] can be incorporated to reach a satisfying series plot conclusion.\n\nNo incest or incest-adjacent romantic relationships, please! This includes distant cousins!\n\nAssign a score from 1 to 10 for each criterion and include a short explanation for each score.\n\nIdentify the {{ $('On form submission1').last().json['Number of Books in Series'] }} highest-scoring book premises with a brief explanation of the market potential.\n[END INSTRUCTIONS]\n\n{{ $('Get Series Data1').last().json.content }}\n\n{{ $('Get Series Premises').last().json.content }}\n\n[BEGIN BOOK PREMISES]\n{{ $json.text }}\n[END BOOK PREMISES]"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2260,
        1060
      ],
      "id": "f0051f70-1345-4db1-9f83-55cf0c3d2be5",
      "name": "Evaluate Book Premises"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[BEGIN SYSTEM]\n{{ $('System Instructions').last().json.content }}\n[END SYSTEM]\n\n[BEGIN INSTRUCTIONS]\n\nThis series is a {{ $('On form submission1').last().json['Type of Project'] }}.\n\n**Dynamic/Sequential Series (same characters)**\nA multi-book series following the same core characters through an overarching plot that develops across all books. Each book advances the main story arc while containing its own complete plot. The premise must have sufficient complexity, escalating stakes, and character growth potential to sustain the planned number of books. Think Harry Potter or The Hunger Games.\n\n**Anthology Series (interconnected different characters)**\nA series set in the same world/universe where each book features different main characters, but all stories are interconnected through setting, themes, or background events. The premise must establish a rich world with multiple story possibilities and natural connection points between books. Each book stands alone but enriches the overall series experience. Think Black Dagger Brotherhood or Discworld.\n\n**Static Series (character driven)**\nA series featuring the same main character(s) in episodic adventures where each book is self-contained with minimal overarching plot development. The premise should focus on a compelling protagonist with a repeatable story framework (detective solving cases, spy on missions). Character relationships may evolve, but the core premise remains stable. Think Jack Reacher or Stephanie Plum.\n\n**Standalones**\nIndividual books that are complete stories with no planned sequels or series connections. The premise should be fully resolved within one book with no loose threads requiring continuation. While the world could theoretically support more stories, each book is designed as a complete, independent experience. Think most literary fiction or one-off thrillers.\n\nWith this in mind, please identify the {{ $('On form submission1').last().json['Number of Books in Series'] }} highest-scoring book premises from the [PREMISES EVALUATION].\n\nFinally, refine each of the top scoring premises to fit in a sequential order for the series in keeping with the type of project.\n\nEach premise should reflect the type of project. For example, Anthology Series should have the same series setting, but different main characters for each book, while Dynamic/Sequential Series have persistent main characters from book to book, and the overarching plot elements from the [SERIES PREMISE] can be incorporated to reach a satisfying series plot conclusion.\n\nNo incest or incest-adjacent romantic relationships, please! This includes distant cousins!\n\nFor each book in the series, include the following information:\n\nTitle:\nPotential Tropes:\nCharacters:\nHook:\nPremise:\nSummary:\n\n[END INSTRUCTIONS]\n{{ $('Get Series Data1').last().json.content }}\n\n{{ $('Get Series Premises').last().json.content }}\n\n[BEGIN BOOK PREMISES]\n{{ $('Book Premises').last().json.text }}\n[END BOOK PREMISES]\n\n[BEGIN PREMISES EVALUATION]\n{{ $json.text }}\n[END PREMISES EVALUATION]"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2260,
        1220
      ],
      "id": "3a44ed8c-3fe0-4659-b68b-8f77a011b78a",
      "name": "Select Book Premises"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-exp-03-25",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2480,
        1960
      ],
      "id": "993b1c9c-d722-4eec-b30e-bcbee8ee91db",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "0XJKUeeULEEpGDrC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1nkd3dXfzyqcpuCCMY6TiaIH_Yn_7ksHVCijIFzzEb5w"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2940,
        1200
      ],
      "id": "e4b308fb-b7a8-40e9-ae1e-1d2703545e61",
      "name": "Get Series Dossier Template",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1w0RbYlIDhJnjlqKe2paTEAeFSj_kJNZGu5a0vmbkeW4"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1200,
        1020
      ],
      "id": "9daa8b84-9713-4be9-960e-a896106089ca",
      "name": "Get Romance Elements",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "10CNwCX7gDwpc3HroyNVz2t4CNJiVhkRUYfUxUS9t0ok"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1200,
        1180
      ],
      "id": "a43e0aca-e932-4500-9ced-d844211b12a3",
      "name": "Get MST Elements",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "={{ $(\"Create Series Folder\").first().json.id }}",
        "title": "Series Premises"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1740,
        1540
      ],
      "id": "ddb824e1-c716-4a3f-a789-40d23ef454cc",
      "name": "Create Series Premises",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=\n{{ $('Select Premise1').item.json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1900,
        1540
      ],
      "id": "d7bfc167-e9a5-4261-a0c4-8cfc2cb9a77d",
      "name": "Update Series Premises",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Update Series Premises').item.json.documentId }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1900,
        1700
      ],
      "id": "fec7f0dd-4a66-4c8b-acab-f60e9a050e37",
      "name": "Get Series Premises",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Get Series Data').item.json.documentId }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1740,
        1700
      ],
      "id": "4c337948-92f6-4bb5-973d-f4b842fd583a",
      "name": "Get Series Data1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Get Series Premises').last().json.documentId }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=\n[BEGIN BOOK PREMISES]\n{{ $('Select Book Premises').last().json.text }}\n[END BOOK PREMISES]\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2420,
        1380
      ],
      "id": "08d61a47-dbc2-4d0a-afae-2141a9ea3aca",
      "name": "Update Series Premises1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Get Series Premises').last().json.documentId }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2260,
        1540
      ],
      "id": "4cc68f5c-5482-4679-9e4c-e23204bcf134",
      "name": "Get Series Premises1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "={{ $(\"Create Series Folder\").first().json.id }}",
        "title": "Series Dossier"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2780,
        1680
      ],
      "id": "eed70c10-3cf2-476c-a3d4-360a82c2e9c3",
      "name": "Create Series Dossier",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=[BEGIN SERIES DOSSIER]\n{{ $('Series Dossier').item.json.text }}\n[END SERIES DOSSIER]\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2940,
        1680
      ],
      "id": "711a4832-fe79-4c0a-b172-cb75fe2a1fe8",
      "name": "Update Series Dossier",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1EhH2JL3KFOeMr573uHECpv_tchB9Q1avoj-aWcWf1zE"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1200,
        1340
      ],
      "id": "94ea0ddc-70bc-4988-a133-3c026fe462ff",
      "name": "Get Urban Fantasy Elements",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vYcvkkZ3m98K0fGe",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Series Premise",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Evaluate Series Premises",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Select Premise1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Character Roster",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Series Dossier",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Book Premises",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Evaluate Book Premises",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Select Book Premises",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Create Analyses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Update Analyses2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Store Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "System Instructions": {
      "main": [
        [
          {
            "node": "Data Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store KT Data": {
      "main": [
        [
          {
            "node": "System Instructions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Analysis": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Store Form Data": {
      "main": [
        [
          {
            "node": "Extract KT Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract KT Data": {
      "main": [
        [
          {
            "node": "Store KT Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Series Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trope Analysis": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Names DB": {
      "main": [
        [
          {
            "node": "Character Roster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Scrap Pile": {
      "main": [
        [
          {
            "node": "Update Scrap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Roster": {
      "main": [
        [
          {
            "node": "Update Roster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Roster": {
      "main": [
        [
          {
            "node": "Get Roster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Roster": {
      "main": [
        [
          {
            "node": "Get Series Dossier Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Roster": {
      "main": [
        [
          {
            "node": "Create Roster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Analyses": {
      "main": [
        [
          {
            "node": "Update Analyses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Analyses": {
      "main": [
        [
          {
            "node": "Get Series Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Analyses2": {
      "main": [
        [
          {
            "node": "Get Analyses1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Analyses": {
      "main": [
        [
          {
            "node": "Get Analyses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Analyses1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Scrap": {
      "main": [
        [
          {
            "node": "Create Series Premises",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Series Folder": {
      "main": [
        [
          {
            "node": "Create Series Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Series Data": {
      "main": [
        [
          {
            "node": "Update Series Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Series Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Series Data": {
      "main": [
        [
          {
            "node": "Trope Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Premise1": {
      "main": [
        [
          {
            "node": "Create Scrap Pile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Romance Elements",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get MST Elements",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Urban Fantasy Elements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series Premise": {
      "main": [
        [
          {
            "node": "Evaluate Series Premises",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Series Premises": {
      "main": [
        [
          {
            "node": "Select Premise1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Series Dossier": {
      "main": [
        [
          {
            "node": "Create Series Dossier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Scrap1": {
      "main": [
        [
          {
            "node": "Update Series Premises1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Book Premises": {
      "main": [
        [
          {
            "node": "Evaluate Book Premises",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Book Premises": {
      "main": [
        [
          {
            "node": "Select Book Premises",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Book Premises": {
      "main": [
        [
          {
            "node": "Update Scrap1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Series Dossier Template": {
      "main": [
        [
          {
            "node": "Series Dossier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Romance Elements": {
      "main": [
        [
          {
            "node": "Series Premise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get MST Elements": {
      "main": [
        [
          {
            "node": "Series Premise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Series Premises": {
      "main": [
        [
          {
            "node": "Update Series Premises",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Series Premises": {
      "main": [
        [
          {
            "node": "Get Series Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Series Premises": {
      "main": [
        [
          {
            "node": "Book Premises",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Series Data1": {
      "main": [
        [
          {
            "node": "Get Series Premises",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Series Premises1": {
      "main": [
        [
          {
            "node": "Get Series Premises1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Series Premises1": {
      "main": [
        [
          {
            "node": "Character Names DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Series Dossier": {
      "main": [
        [
          {
            "node": "Update Series Dossier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Urban Fantasy Elements": {
      "main": [
        [
          {
            "node": "Series Premise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "06d67a9f-07e3-4d80-a01b-bee92d864000",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce3f5f7c2d244f2d30fc49e8c171f97691ba9f45902616b500d75b8f7ea563b1"
  },
  "id": "grZhtckWdMRX2nou",
  "tags": []
}
